@media screen and (min-width:1400px) and (max-width:1600px) {

    .h4-responsive {
        font-size: .9em !important;
    }

    .slider-wrapper {
        width: 84% !important;
    }

    .nivo-controlNav {
        width: 100% !important;
    }

    .headingText {
        width: 965px;
        height: 40px;
    }

    /* Middle Container Objects */

    #showHideApp {
        display: inherit;
    }

    .nav-tabs > li {
        width: 90px;
    }

    .panel-title {
        font-size: 1em !important;
        text-decoration: none !important;
    }

    /*** For Document Viewer ***/

    .tabContent {
        margin-left: 15px;
        height: 75%;
    }

    .teamDocumentFoldersContainer, .teamDocumentViewerContainer {
        height: 70vh;
    }

    .teamDocuments {
        height: 440px
    }

    .docItem {
        font-size: 1em !important;
    }

    .btn-responsive {
        padding: 4px 9px;
        font-size: 90%;
        line-height: 1.5;
    }

    .dataAdjustRight {
        margin-left: 5px;
    }

    .documents {
        height: 530px;
    }

    .docPreview {
        height: 530px;
    }

    /********* END *********/

    .pageText {
        width: 90% !important;
    }

    .knowledgeDocuments {
        width: 90% !important;
    }

    .documentSection{height:61vh;}

    .panel-title {
        font-size: .9em !important;
        text-decoration: none !important;
    }

    .smtBanner > h3 {
        font-size: 1.1em !important;
    }

    .list-group {
        font-size: .9em !important;
    }

    .homeTabContainer {
        position: relative;
        height: 180px !important;
        width: 95% !important;
    }

    .contactsTabs {
        width: 15vw;
        font-size: .9em;
    }

    .contactsContent {
        width: 37vw;
    }

    .suggestionContainer {
        top: 22.5vh;
        height: 55vh;
    }

    .commsTiles {
        position: relative;
        top: 500px;
    }

    .CHDACentres {
        height: 200px;
    }

    .CentresDataBox {
        padding-left: 1px;
        margin-top: 0;
        overflow-y: scroll;
        overflow-x: hidden;
        height: 190px;
        width: 600px;
    }

    .acSection {
        position: relative;
        left: 20px;
    }

    /*** for SMT values ***/
    .smtBanner > h3 {
        font-size: .7em
    }

    .smtTabContainer {
        top: 15px;
        left: 2px !important;
    }

    .smtTabBar {
        left: -2px;
        height: 35px;
        width: 110%;
    }

    /***** Team Calendar *****/
    .cal-listing {
        width: 74% !important;
        left: 33.5%;
    }

    /**************************/

    .newsMastContainer {
        height: 48%;
        width: 22% !important;
    }

    .newsMast img {
        left: -15px !important;
        width: 100px !important;
        height: 90px !important;
    }

    .newsMast h3, .newsHeadline {
        top: -8px;
        left: 20px;
    }

    .newsMast h3 {
        font-size: .85em !important;
    }

    .newsMast .newsHeadline {
        /*color: #545487 !important;*/
        font-size: .75em;
        margin: -3px 0 1em 3px;
        width: 99%;
    }

    .newsDetailContainer {
        height: 48%;
        width: 49%;
        left: 31.5%;
    }

        .newsDetailContainer #newsDetail {
            font-size: .9em;
        }

    #docs, #viewer {
        height: 410px !important
    }

    #viewer {
        width: 57.3%
    }

    .fadein {
        width: 400px;
        margin: 0 0 0 25px;
    }

    .postToolsContainer {
        left: 68% !important;
        width: 13.7% !important;
    }

    .postMastContainer, .postDetailContainer {
        height: 57vh;
    }

    .postMastContainer {
        width: 20% !important;
    }

    .postDetailContainer {
        width: 38%;
        left: 24%;
    }

    .forumButtonContainer {
        left: 96%
    }

    .forumToolbox {
        height: 26%
    }
}