@media screen and (min-width: 1201px) and (max-width: 1280px) {
    .megamenu.show{width:80vw;}
    .dropdown-menu.show, .megamenu.show{margin-top:7px;}
    .pageLeftContainer{height:86vh;overflow:hidden}
    .contactContainer{top:4vh!important;}
    .teamHomeBottomRow{top:30vh;height:37vh;flex: 0 0 30%;}
    .faqContent{width:98%;}
    .teamHomeRightColumn{height:67vh;}
    .faqContent, .changeContent{height:40vh;} 
}
