@media screen and (min-width: 1601px) and (max-width: 1690px) {

    .slider-wrapper {
        width: 75% !important;
    }

    .nivo-controlNav {
        width: 100% !important;
    }

    .headingText {
        width: 965px;
        height: 40px;
    }

    #showHideApp {
        display: inherit;
    }

    .ms-cal-weekname {
        width: 10%;
    }

    .nav-tabs > li {
        width: 85px;
        font-size: .9em;
    }

    .panel-title {
        font-size: 1.2em !important;
        text-decoration: none !important;
    }

    /*** For Document Viewer ***/

    .tabContent {
        height: 75%;
    }

    .imageWindow {
        height: 300px !important;
    }

    .teamDocumentFoldersContainer, .teamDocumentViewerContainer {
        height: 490px;
    }

    .docItem {
        font-size: 1em !important;
    }

    .btn-responsive {
        padding: 4px 9px;
        font-size: 90%;
        line-height: 1.5;
    }

    .documents {
        height: 530px;
    }

    .docPreview {
        height: 530px;
    }

    /*** Operational Excellence Awards ***/
    #docs, #viewer {
        height: 735px !important
    }

    #viewer {
        width: 57%
    }

    #docFolders {
        height: 475px !important
    }

    .fadein {
        height: 250px;
    }

    .pageText {
        width: 100% !important;
    }

    .knowledgeDocuments {
        width: 100% !important;
    }

    .list-group {
        font-size: 1em !important;
    }

    /*** for SMT values ***/
    .smtBanner > h3 {
        font-size: 1em;
    }

    .smtTabContainer {
        position: relative;
        top: 12px;
        left: 2px !important;
        height: 350px !important;
        width: 100% !important;
        margin-bottom: 15px !important;
    }

    .smtTabBar {
        font-size: .9em
    }

    /*** for SMT Contact cards ***/
    .smtContainer {
        top: 60px;
        width: 83.5%;
        height: 240px;
    }

    .smtCards {
        position: relative;
        top: 10px !important;
        left: 5px;
    }

    .homeTabContainer {
        position: relative;
        top: -20px;
        left: 20px !important;
        height: 250px !important;
        width: 95% !important
    }

    .faqContainer {
        height: 580px !important;
    }

    .contactsTabs {
        width: 14vw;
        font-size: .8em;
    }

    .contactsContent {
        width: 35vw;
    }

    .suggestionContainer {
        height: 63vh;
        top: 19vh;
    }

    .CHDACentres {
        height: 295px;
    }

    .acSection {
        position: relative;
        left: 20px;
    }

    .CentresDataBox {
        padding-left: 1px;
        overflow-y: scroll;
        overflow-x: hidden;
        height: 195px;
        width: 660px;
    }

    .newsMastContainer {
        height: 64%;
        width: 24% !important;
    }

    .newsMast img {
        left: -15px !important;
        width: 150px !important;
        height: 100px !important;
    }

    .newsMast h3, .newsHeadline {
        top: -8px;
        left: 20px;
    }

    .newsMast h3 {
        font-size: 1.09em !important;
    }

    .newsMast .newsHeadline {
        /*color: #545487 !important;*/
        font-size: 1em;
        margin: -3px 0 1em 3px;
        width: 99%;
    }

    .newsDetailContainer {
        height: 64%;
        width: 50%;
    }

    .postToolsContainer {
        left: 71% !important;
        height: 74.5% !important;
        width: 12% !important;
    }

    .postMastContainer, .postDetailContainer {
        height: 67vh;
    }

    .postDetailContainer {
        left: 25%;
        width: 43.5%;
    }

    .forumButtonContainer {
        left: 97%;
    }

    .forumToolbox {
        height: 30%
    }
}

@media screen and (min-width: 1691px) and (max-width: 1749px) {

    .headingText {
        width: 965px;
        height: 40px;
    }

    #showHideApp {
        display: inherit;
    }

    .ms-cal-weekname {
        width: 10%;
    }

    .nav-tabs > li {
        width: 85px;
        font-size: .9em;
    }

    /*** For Document Viewer ***/

    .tabContent {
        height: 75%;
    }

    .imageWindow {
        height: 300px !important;
    }

    .teamDocumentFoldersContainer, .teamDocumentViewerContainer {
        height: 490px;
    }

    .teamDocumentFoldersContainer {
        width: 38% !important
    }

    .teamDocumentViewerContainer {
        left: 330px;
        width: 100% !important;
        border: .5px solid #7676b8;
        padding-top: 5px;
    }

    .teamDocumentViewerFrame {
        position: relative;
        top: -20px;
    }

    .teamDocButtonContainer {
        left: 78% !important;
        top: 163px;
        display: inline
    }

    .docItem {
        font-size: 1em !important;
    }

    .btn-responsive {
        padding: 4px 9px;
        font-size: 90%;
        line-height: 1.5;
    }

    .documents {
        height: 530px;
    }

    .docPreview {
        height: 530px;
    }

    /*** Operational Excellence Awards ***/
    #docs, #viewer {
        height: 735px !important
    }

    #viewer {
        width: 57%
    }

    #docFolders {
        height: 475px !important
    }

    .fadein {
        height: 250px;
    }

    .pageText {
        width: 100% !important;
    }

    .knowledgeDocuments {
        width: 100% !important;
    }

    .list-group {
        font-size: 1em !important;
    }

    /*** for SMT values ***/
    .smtBanner > h3 {
        font-size: 1em;
    }

    .smtTabContainer {
        position: relative;
        top: 12px;
        left: 2px !important;
        height: 350px !important;
        width: 100% !important;
        margin-bottom: 15px !important;
    }

    .smtTabBar {
        font-size: .9em
    }

    /*** for SMT Contact cards ***/
    .smtContainer {
        top: 60px;
        width: 83.5%;
        height: 240px;
    }

    .smtCards {
        position: relative;
        top: 10px !important;
        left: 5px;
    }

    .homeTabContainer {
        position: relative;
        top: -20px;
        left: 20px !important;
        height: 250px !important;
        width: 95% !important
    }

    .faqContainer {
        height: 580px !important;
    }

    .contactsTabs {
        width: 14vw;
        font-size: .8em;
    }

    .contactsContent {
        width: 35vw;
    }

    .suggestionContainer {
        height: 63vh;
        top: 17vh;
    }

    .CHDACentres {
        height: 295px;
    }

    .acSection {
        position: relative;
        left: 20px;
    }

    .CentresDataBox {
        padding-left: 1px;
        overflow-y: scroll;
        overflow-x: hidden;
        height: 195px;
        width: 660px;
    }

    .newsMastContainer {
        height: 64%;
        width: 24% !important;
    }

    .newsMast img {
        left: -15px !important;
        width: 150px !important;
        height: 100px !important;
    }

    .newsMast h3, .newsHeadline {
        top: -8px;
        left: 20px;
    }

    .newsMast h3 {
        font-size: 1.09em !important;
    }

    .newsMast .newsHeadline {
        /*color: #545487 !important;*/
        font-size: 1em;
        margin: -3px 0 1em 3px;
        width: 99%;
    }

    .newsDetailContainer {
        height: 64%;
        width: 50%;
    }

    .postToolsContainer {
        left: 71% !important;
        height: 74.5% !important;
        width: 12% !important;
    }

    .postMastContainer, .postDetailContainer {
        height: 67vh;
    }

    .postMastContainer {
        width: 23%;
    }

    .postDetailContainer {
        left: 27% !important;
        width: 43.5%;
    }

    .forumButtonContainer {
        left: 97%;
    }

    .forumToolbox {
        height: 36%
    }
}