@media screen and (min-width: 2500px) and (max-width: 2550px) {
    /*.topRow{top:199px;height:28vh;}*/
    .bottomRow{height:52.7vh;} 
    .faqQuestions{flex:0 0 19%;max-width:19%;width:19%;height:85%;} 
    .faqAnswers{top:10px;flex:0 0 75%;max-width:75%;height:85%;} 
}

@media screen and (min-width: 2551px) and (max-width: 2600px) {
    /*.topRow{top:199px;height:28vh;}*/
    .bottomRow{height:52.7vh;} 
    .faqQuestions{flex:0 0 19%;max-width:19%;width:19%;height:85%;} 
    .faqAnswers{top:10px;flex:0 0 75%;max-width:75%;height:85%;} 
}