/* For resolution 1920px x 1080px only: */
@media screen and (min-width: 1919px) and (max-width:1921px) {
    .pageLeftContainer{height:86vh;overflow:hidden}
    .contactContainer{top:4vh!important;}
    .teamHomeBottomRow{top:30vh;height:37vh;flex: 0 0 30%;}
    .faqContent{height:65%;width:98%;}
    .teamHomeRightColumn{height:67vh;}
    .changeContent{height:70vh;}
}