/*   **************************************************
     Site   	: MAX UK Intranets
     Page   	: Any for UK Business Units Intranet custom app pages
     Author 	: Jason Clark
     Date   	: Feb 2019
     Purpose	: Custom CSS file for Single Page Apps (SPA) or custom in-page coding which is not part of the core site code for the Classic UI Intranet
                  Note: This file contains NO colour code, please put all colour code in the CHDA.css located in the masterpage folder for CHDA root site collection 
    
     Modified By: 
     Date		: 
     Notes		: 
     
     Modified By:
     Date		:
     Notes		:

    ************************************************** */

/*************************
 ***** Page Elements *****
 *************************/
.pLow, .pNorm, .pHigh {
    display: block;
    text-align: center;
    font-size: 1em;
}

.h4-responsive {
    font-size: 1em !important;
}

.titleText {
    position: relative;
    top: -10px;
}

a {
    text-decoration: none !important;
}

div:empty {
    display: none;
}

.alignRight {
    float: right;
    margin: 0 20px 10px 0;
}

.alignLeft {
    float: left;
    margin: 0 0 10px 20px;
}

.noHover:hover {
    cursor: default;
    pointer-events: none;
}

.homeLink {
    font-size: 1em;
    font-weight: bold;
}

    .homeLink:hover {
        text-decoration: none;
    }

#msgBox h3 {
    position: relative;
    top: -18px;
    left: 0;
    padding: 3px 0 0 5px;
    width: 100%;
    height: 30px;
}

.msgText {
    position: relative;
    top: -28px !important;
    left: -12px;
    width: 107%;
    height: 75%;
}

    .msgText h4 {
        margin: 2px 0 0 -16px;
    }

.mainMsg {
    margin-left: 15px;
    width: 92%;
}

/* ---- button ---- */
.button, #savebutton1, #savebutton2, #gobackbutton1, #gobackbutton2, .ms-ButtonHeightWidth {
    position: relative;
    width: auto;
    display: inline-block !important;
    border: none !important;
    border-radius: 7px !important;
    font-size: 1em !important;
    font-weight: bold;
}

    .button:active {
        border-radius: 7px !important;
    }

/* ---- button-group ---- */
.button-group:after {
    content: '';
    display: block;
    clear: both;
}

.button-group .button {
    float: left;
    border-radius: 0;
    margin-left: 0;
    margin-right: 1px;
}

    .button-group .button:first-child {
        border-radius: 0.5em 0 0 0.5em;
    }

    .button-group .button:last-child {
        border-radius: 0 0.5em 0.5em 0;
    }

.codeNewButton {
    float: right;
    width: 25px;
    height: 25px;
    padding: 2px 0 0 2px;
}

.homeTabContainer {
    position: relative;
    top: 1px !important;
    left: 20px !important;
}

.homeTabBar, .navTabBar {
    position: relative;
    height: 40px;
    width: 60vw;
    top: 5px;
    overflow-y: scroll;
}

    .homeTabBar li a:active {
        border: none;
    }

.homeTab {
    position: relative;
    margin-top: 5px;
    left: 5px;
    width: 99.5%;
    overflow-x: auto;
    overflow-y: hidden;
}

    .homeTab ul li {
        height: 33px;
    }
        .homeTab ul li:hover,
        .homeTab > ul > li > a:hover {
            text-decoration: none;
        }

/*************************************	
 *********** News Section ************
 *************************************/
.newsTabs {
    width: 90%;
    height: 50px;
    z-index: 9;
}

.newsMastContainer, .postMastContainer {
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 10;
}

.newsDetailContainer, .postDetailContainer {
    overflow-y: auto;
    overflow-x: hidden;
    word-wrap: normal;
    z-index: 10;
}

.newsMastContainer {
    top: 230px;
    left: 110px;
}
    .newsMastContainer .newsMast {
        position: relative;
        left: 7px;
        text-align: left;
        vertical-align: top;
        padding-bottom: 5px;
        width: 100%;
    }
        .newsMastContainer .newsMast h3, .newsHeadline {
            position: relative;
            font-weight: bold;
            margin-left: 0;
        }

        .newsMastContainer .newsMast img {
            position: relative;
            top: 0px;
            left: -12px;
            width: 120px;
            height: 80px;
            margin-left: 5px;
        }

        .newsMastContainer .newsMast .newsHeadline {
            display: block;
            word-wrap: normal;
        }

.newsDetailContainer {
    position:absolute;
    top: 50px;
    left: 30.5%;
    height: 74vh;
    width: 39vw;
}
    .newsDetailContainer #newsDetail {
        margin: 5px 5px 5px 5px !important;
    }

.cultureContainer{position:relative;top:-9%;}
.cultureImage {
    position: relative;
    width:36vw;
}

/************************************	
 *********** Tab Section ************
 ************************************/
.tabContainer {
    position: relative;
    height: 70vh;
    left: 0;
    z-index: 10 !important;
    margin: 0;
    padding: 0;
}

.tabBar {
    height: 50px;
    width: 80%;
    position: fixed;
    top: 179px;
    left: 95px;
    z-index: 20;
}

.tabContent {
    position: relative;
    top: 5px !important;
}
/***************** END Tab Section **********************/

/*************************************
 **** Knowledge / Document Pages *****
 *************************************/
#knDocs {position:relative;}

.docUpload{position:fixed;top:243px;right:0;border-radius:10px 0 0 10px!important;}

.knowledgeMainTabs{
    padding: 3px;
    flex: 0 0 15.8%;
    max-width: 30%;        
}
.knowledgeCustomTabs{
    padding: 3px;
    flex: 0 0 84%;
    max-width: 70%;        
}
.knowledgeTabContainer {
    position: relative;
    margin:0 auto;
    overflow:hidden;
    padding:5px;
    height:50px;
    z-index:99;
}     

.list {
    position:absolute;
    left:0px;
    top:0px;
    min-width:3500px;	
    margin-top:0px;
    flex-wrap:nowrap;
} 

.scroller {
    text-align:center;
    cursor:pointer;
    display:none;
    padding:7px;
    padding-top:11px;
    white-space:no-wrap;
    vertical-align:middle;
}

.scroller-right{
    float:right;
}

.scroller-left {
    float:left;
}

#knowledgeTabNames::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}
#knowledgeTabNames::-webkit-scrollbar-track {
    border-radius: 10px;
}
#knowledgeTabNames::-webkit-scrollbar-thumb{
    border-radius: 10px;
}      
#knowledgeTabNames::-webkit-scrollbar-button {   
    padding:5px;
}
#knowledgeTabNames::-webkit-scrollbar-button:single-button:horizontal:start:decrement {
    border-radius: 10px;
}
#knowledgeTabNames::-webkit-scrollbar-button:horizontal:single-button:end:increment {
    border-radius: 10px;
}

#mgmtDocs {
    display: none;
}

.templateSection {
    width: 100%;
    height: 50vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.policySection {
    height: 550px !important;
    width: 90%;
    overflow-y: auto;
    overflow-x: hidden;
}

.editDoc {
    display: none;
}

.documentSection {
    overflow-x: hidden;
    overflow-y: scroll;
    min-height:60vh;
    height: 68vh;
    max-height:75vh;
    width: 40%;
    position:absolute;
    left:5px;
    top:60px;
    z-index:99;
}

.documentFolder {
    width:99%;
}

	.documentFolder .folderTitle:after {
	    font-family: "Font Awesome 5 Free"; 
	    font-weight: 900; 
	    content: "\f07b";
	    font-size: 1em;
	    float:left;
	    margin-right:10px;
	}
	
	.documentFolder .folderTitle.collapsed:after {
	    font-family: 'Font Awesome 5 Free';
	    font-size: 1em;
	    font-weight:900;
	    content: "\f07c";
	    float:left;
	    margin-right:10px;
	}
     .documentFolder .docRow:first-child .docItem p{margin-left:5px;}

.documentViewer {
    position: absolute;
    top: 60px;
    left:41%;
    width: 55%;
    min-height:65vh;
    height: 67vh;
    max-height:75vh;
    z-index: 999;
}
.documentViewer iframe {height:100%; width:100%;}
.docRow{margin-left:0;height:30px;}
.docItem {
    position: relative;
    height:20px;
    width: 70%;
    float: left !important;
    margin: 0 0 5px 0 !important;
    font-size: 1em !important;
    font-weight: bold;
    white-space:nowrap;
    text-overflow:ellipsis;
}
.docItem a:hover{padding:5px;}

.iconContainer {
    display: inline-flex;
    min-width:5%;
    max-width:15%;
    height:30px;
    padding:0;
}

/******************************************************************************************************/

.teamDocumentSubfolders .docIcon, .teamDocumentSubfolders .docEdit, .teamDocumentSubfolders .docView, .teamDocumentSubfolders .docDelete, .teamDocumentSubfolders .docPublish
.docList .docIcon, .docList .docEdit, .docList .docView, .docList .docDelete, .docList .docPublish {
    position: relative;
    top:-21px;
}

.teamDocumentSubfolders .docIcon, .docList .docIcon {
    left: 21px;
}

.teamDocumentSubfolders .docView, .docList .docView {
    left: 19px;
}

.teamDocumentSubfolders .docEdit, .docList .docEdit {
    left: 25px;
}

.teamDocumentSubfolders .docDelete, .docList .docDelete {
    left: 30px;
}

.teamDocumentSubfolders .docPublish, .docList .docPublish {
    left: 36px;
}

.nav-stacked > li + li {
    margin-right: 5px;
}

#teamDocs {
    position: absolute;
    height: 82vh;
    width: 100%;
}

.teamDocumentTabs {
    top: 5px;
    width: 90%;
    height: 60px;
    z-index: 99;
    overflow: hidden;
}
    .teamDocumentTabs > ul {
        position: fixed;
        width: 54%;
        height: 60px;
        white-space: nowrap;
        list-style-type: none;
        display: inline-block;
        font-size: .91em;
        padding: 2px 0 0 0;
        overflow-x: scroll;
        overflow-y: hidden;
    }
        .teamDocumentTabs > ul > li {
            display: inline;
        }
    .teamDocumentTabs > li {
        margin: 0 5px 5px 3px;
        display: inline;
    }

.teamDocuments {
    position: relative;
    left: 0px;
    width: 90%;
    height: 90%;
    margin: 0;
    padding: 0;
    z-index: 10 !important;
}

.teamDocumentFoldersContainer, .teamDocumentViewerContainer {
    height: 78vh;
    padding: 0;
}

.teamDocumentFolders {
    margin: 0;
    padding: 0;
}

.teamDocumentSubfolders {
    height: 65vh;
}

.teamDocumentViewerContainer {
    width: 59% !important;
}

.teamDocumentViewerFrame {
    height: 100%;
    position: relative;
    top: -20px;
}

.teamDocButtonContainer {
    position: absolute;
    left: 93%;
}

.teamDocEmailButton, .teamDocNewButton, .teamDocViewButton, .teamDocFolderButton, .teamDocMyButton {
    height: 38px;
    width: 38px;
    padding: 7px 0 0 12px;
    border-radius: 10px !important;
    margin: 5px 5px 0 5px;
}

.addFolderButton {
    position: relative;
    top: 7px;
    left: 26px;
}

.docSetFolders {
    height: 60vh;
}

.documents {
    position: absolute;
    top: 38px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    height: 590px;
}

/* used for Operational Excellence Awards page */
#docs, #viewer {
    height: 540px;
}

#viewer {
    margin-left: 10px;
}

.fadein {
    position: relative;
    height: 225px;
    width: 110%;
}

    .fadein img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }

#docFolders .panel {
    margin-bottom: 7px !important;
}

#docFolders {
    height: 100%;
    margin-bottom: 10px;
    text-align: left;
}

object embed {
    height: 100% !important;
    width: 100% !important;
    z-index: 5 !important;
}

.docPreview {
    position: absolute;
    top: 38px;
    width: 99.5%;
    height: 590px;
    z-index: 999;
}

.ms-vh2, .ms-vh-div {
    white-space: normal;
    font-weight: bold;
    font-size: 13px;
}

/************************************************/

/*******************************
 ***** Specific Page Items *****
 *******************************/
.categoryContainer {
    position: relative;
    top: 15px;
    left: 20px;
    width: 250px;
    float: right;
}

.teamContainer {
    position: relative;
    top: 60px;
    left: 0;
}

.slider-wrapper {
    position: relative;
    top: -5px !important;
    width: 70%;
    height: 50%;
}

blockquote {
    font-size: .9em !important;
    font-weight: 600 !important;
    margin: 5px 0 5px;
    padding:5px;
}

.titleRow {
    position: absolute;
    z-index: 99;
    font-size: .9em;
}

.faqContainer {
    margin-top: 5px !important;
    z-index: 5;
}

.faqQuestion {
    font-size: .9em;
    margin-bottom:5px;
}

.dataTab {
    height: 300px;
}

.siteContact {
    position: relative;
    top: 350px;
    left: 120px;
}

.officeAddr {
    border: none;
    margin-left: -5px;
}

.googleMap {
    margin-top: 25px;
    margin-left: -40px;
}
/******************************************/

/*************************
 ***** Locations App *****
 *************************/
.locationFrame {
    position: relative;
    top: 10px;
    z-index: 3;
    padding-bottom: 10px;
}

.CHDACentres {
    position: relative;
    left: 0;
    height: 265px;
    width: 98%;
}

    .CHDACentres h3 {
        text-decoration: none;
        font-weight: bold;
        margin-top: 0px;
    }

    .CHDACentres h4 {
        text-decoration: underline;
        font-weight: bold;
        margin-top: 0px;
    }

.rowLocation {
    position: absolute;
    left: 30px;
    height: 200px;
    width: 100%;
}

.colLocation {
    height: 100%;
}
/**************************************************/

/*********************************
 ***** About Suggestion Page *****
 *********************************/
.suggestionContainer{
    position: absolute;
    height: 79vh!important;
    width: 100%;
    z-index:5;
}
.suggestionContainer {top: 8vh;}
.faqContainer {margin-top: 5px !important;}

.suggestionTabs, .suggestionContent{
    position:absolute;
}

.suggestionTabs {
    overflow-y: scroll;
    padding: 10px;
    height: 99%;
    text-align: left;
}
    .suggestionTabs .nav-tabs li > a {
        font-weight: bold;
        font-size: 1.1em;
        border-radius: 10px;
    }
        .suggestionTabs .nav-tabs li > a:active {
            font-size: 1.1em;
            height: 20px;
            border-radius: 10px;
        }

    .suggestionTabs a:hover {
        border-radius: 10px;
    }

.suggestionContent {
    left: 27vw;
    width: 69% !important;
    height: 99%;
    padding: 10px;
    overflow: scroll;
}
.suggestionContent::-webkit-scrollbar}
.suggestionTabs::-webkit-scrollbar}

    .suggestionContent .collapsing, .faqAnswer .collapsing, .faqContent .collapsing, .faqAnswer .collapsing {
        top: -10px !important;
        width: 100% !important;
    }

    .suggestionContent .panel-group {
        margin-right: 5px;
    }

.faqQuestion {
    font-size: .9em;
    margin-bottom:5px;
}

/**************************
 ***** About SMT Page *****
 **************************/
.bulletItem {
    width: 180px !important;
    font-size: 1em;
}

.smtValues {
    position: relative;
    margin: 5px auto;
    overflow: hidden;
    padding: 0;
    border-radius: 8px;
    width: 100%;
    height: 100%;
}

/*** Content ***/
.smtValues-container {
    margin: 0 auto;
    padding: 15px;
    width: 100%;
    min-height: 200px;
    overflow-x: auto;
}

    .smtValues-container .performance {
        height: 100%;
        width: 100%;
        padding: 9px;
        background: url("/PublishingImages/Culture/PerformanceValue1-01.png") no-repeat;
        opacity: 0.8;
    }

    .smtValues-container .commitment {
        height: 100%;
        width: 100%;
        padding: 9px;
        background-image: url("/PublishingImages/Culture/CommitmentValue1-01.png");
        opacity: 0.8;
    }

.smtBanner > h3 {
    font-size: .7em;
}

.smtValues-container h2, .smtValues-container h3, .smtValues-container h4 {
    font-size: .9em;
}

.smtValues-container p {
    font-weight: 600;
    line-height: 1.2em;
    text-align: justify;
}

.smtTabBar {
    position: relative;
    top: 5px;
    left: 1px;
    height: 32px;
    width: 100%;
    font-size: .9em;
}

.smtTabContainer {
    position: relative;
    top: 15px;
    width: 100% !important;
    margin: -6px 0 15px 0 !important;
}
    .smtTabContainer img {
        width: 90%;
        margin: 0 auto;
        left: 4%;
        position: relative;
    }

.smtBanner {
    width: 100%;
    height: 35px;
}
    .smtBanner > h3 {
        margin-left: 10px;
        margin-top: 10px;
    }

.smtTitle {
    padding-top: 6px;
}

/************************
 ***** Key Contacts *****
 ************************/
 .contactsContainer {
    position: relative;
    height: 75vh;
    top: 5px;
    z-index: 5;
}

.contactsTabs, .contactsContent {
    margin: 0;
    padding: 0 10px 0 0;
}

.contactsTabs {
    overflow-y: auto;
    overflow-x: hidden;
    width: 17vw;
    text-align: left;
}

.contactsContent {
    margin: 0 0 0 10px;
    width: 44vw;
    height: 100%;
    overflow: auto;
}
    .contactsContent .contactTitle {
        padding-left: 10px;
        margin: 0;
        width: 100% !important;
        height: 40px;
        border-radius: 10px 10px 0 0;
    }

    .contactsContent h3 {
        position: relative;
        top: -10px !important;
        font-weight: bold;
        vertical-align: middle;
    }

    .contactsContent .contactTable {
        margin-left: 15px !important;
        width: 96.5%;
    }