/* Google Chrome Only */

@media screen and (-webkit-min-device-pixel-ratio:0) {
}

@media screen and (-webkit-min-device-pixel-ratio:1) {
}

@media screen and (-webkit-min-device-pixel-ratio:2) {
}

@media screen and (-webkit-min-device-pixel-ratio:3) {
}

/***** end Chrome resolution section *****/