@media screen and (min-width: 1201px) and (max-width: 1280px) {

    .headingText {
        width: 965px;
        height: 40px;
    }

    #showHideApp {
        display: inherit;
    }

    .nav-tabs > li {
        width: 85px;
        font-size: .9em;
    }

    /*** For Document Viewer ***/

    .tabContainer {
        height: 70vh;
    }

    .tabContent {
        margin-left: 15px;
        height: 75%;
    }

    .teamDocumentTabs {
        width: 65%
    }

    .teamDocumentFoldersContainer, .teamDocumentViewerContainer {
        height: 450px;
    }

    .teamDocuments {
        height: 440px
    }

    .docItem {
        font-size: 1em !important;
    }

    .btn-responsive {
        padding: 4px 9px;
        font-size: 90%;
        line-height: 1.5;
    }

    .dataAdjustRight {
        margin-left: 5px;
    }

    .documents {
        height: 530px;
    }

    .docPreview {
        height: 530px;
    }

    #docs, #viewer {
        height: 780px !important
    }

    #viewer {
        width: 57%
    }

    #docFolders {
        height: 500px !important
    }

    .fadein {
        height: 250px;
        width: 422px
    }

    /********* END *********/

    .pageText {
        width: 90% !important;
    }

    .knowledgeDocuments {
        width: 90% !important;
    }

    .panel-title {
        font-size: .9em !important;
        text-decoration: none !important;
    }

    .smtBanner > h3 {
        font-size: 1.1em !important;
    }

    .list-group {
        font-size: .9em !important;
    }

    .homeTabContainer {
        position: relative;
        top: -5px !important;
        left: 5px !important;
        height: 180px !important;
        width: 95% !important;
    }

    .homeTabBar, .navTabBar, .tabBar {
        margin: -5px 0 0 0;
    }

    .homeTabContent {
        position: relative;
        left: 10px !important;
    }

    .contactsTabs {
        width: 15vw;
        font-size: .8em;
    }

    .contactsContent {
        width: 37vw;
    }

    .suggestionContainer {
        height: 63vh;
    }

    .CHDACentres {
        height: 200px;
    }

    .CentresDataBox {
        padding-left: 1px;
        margin-top: 0;
        overflow-y: scroll;
        overflow-x: hidden;
        height: 190px;
        width: 600px;
    }

    .acSection {
        position: relative;
        left: 20px;
    }

    /*** for SMT values ***/
    .smtBanner > h3 {
        font-size: .7em
    }

    .smtTabContainer {
        top: 15px;
        left: 2px !important;
    }

    .smtTabBar {
        left: -10px;
        height: 35px;
    }

    /**************************/

    .newsMastContainer {
        height: 48%;
        width: 22% !important;
    }

    .newsMast img {
        left: -15px !important;
        width: 100px !important;
        height: 90px !important;
    }

    .newsMast h3, .newsHeadline {
        top: -8px;
        left: 20px;
    }

    .newsMast h3 {
        font-size: .85em !important;
    }

    .newsMast .newsHeadline {
        /*color: #545487 !important;*/
        font-size: .75em;
        margin: -3px 0 1em 3px;
        width: 99%;
    }

    .newsDetailContainer {
        height: 48%;
        width: 49%;
        left: 31.5%;
    }

        .newsDetailContainer #newsDetail {
            font-size: .9em;
        }

    .postToolsContainer {
        height: 74.5% !important;
        left: 68%;
        width: 13.5% !important;
    }

    .postMastContainer, .postDetailContainer {
        height: 50vh;
    }

    .postMastContainer {
        width: 22%;
    }

    .postDetailContainer {
        left: 26% !important;
        width: 41%;
    }

    .forumButtonContainer {
        left: 93%;
        z-index: 15
    }

    .forumToolbox {
        font-size: .87em !important;
        height: 35%;
    }
}
