/*   **************************************************
     Site   	: MAX UK Intranets
     Page   	: Any for UK Business Units Intranet / Front Door area using the Classic UI team or publishing site template
     Author 	: Jason Clark
     Date   	: Feb 2019
     Purpose	: Custom CSS file for Single Page Apps (SPA) or custom in-page coding which is not part of the core site code for the Classic UI Intranet
                  Note: This file contains NO colour code, please put all colour code in the CHDA.css located in the masterpage folder for CHDA root site collection 
    
     Modified By: 
     Date		: 
     Notes		: 
     
     Modified By:
     Date		:
     Notes		:

    ************************************************** */

@media screen and (-webkit-min-device-pixel-ratio:1) {
    .postForm {
        margin-left: 80px !important;
    }
}

/*************************
 ***** Page Elements *****
 *************************/
.pLow, .pNorm, .pHigh {
    display: block;
    text-align: center;
    font-size: 1em;
}

.h4-responsive {
    font-size: 1em !important;
}

.titleText {
    position: relative;
    top: -10px;
}

a {
    text-decoration: none !important;
}

div:empty {
    display: none;
}

.alignRight {
    float: right;
    margin: 0 20px 10px 0;
}

.alignLeft {
    float: left;
    margin: 0 0 10px 20px;
}

.noHover:hover {
    cursor: default;
    pointer-events: none;
}

.scrollbar {
    overflow: auto;
    border-radius: 10px !important;
}

    /****** Mozilla Scrollbar */
    .scrollbar::-webkit-scrollbar {
        width: .9em;
        height: .9em;
    }

    .scrollbar::-webkit-scrollbar-track {
        -webkit-border-radius: 10px;
        border-radius: 10px;
    }

    .scrollbar::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-border-radius: 10px;
    }

    /****** Mozilla Scrollbar */
    .hiddenScrollbar::-webkit-scrollbar {
        width: 10px;
    }

.homeLink {
    font-size: 1em;
    font-weight: bold;
}

    .homeLink:hover {
        text-decoration: none;
    }

#msgBox h3 {
    position: relative;
    top: -18px;
    left: 0;
    padding: 3px 0 0 5px;
    width: 100%;
    height: 30px;
}

.msgText {
    position: relative;
    top: -28px !important;
    left: -12px;
    width: 107%;
    height: 75%;
}

    .msgText h4 {
        margin: 2px 0 0 -16px;
    }

.mainMsg {
    margin-left: 15px;
    width: 92%;
}

/* ---- button ---- */
.button, #savebutton1, #savebutton2, #gobackbutton1, #gobackbutton2, .ms-ButtonHeightWidth {
    position: relative;
    width: auto;
    display: inline-block !important;
    border: none !important;
    border-radius: 7px !important;
    font-size: 1em !important;
    font-weight: bold;
}

    .button:active {
        border-radius: 7px !important;
    }

/* ---- button-group ---- */
.button-group:after {
    content: '';
    display: block;
    clear: both;
}

.button-group .button {
    float: left;
    border-radius: 0;
    margin-left: 0;
    margin-right: 1px;
}

    .button-group .button:first-child {
        border-radius: 0.5em 0 0 0.5em;
    }

    .button-group .button:last-child {
        border-radius: 0 0.5em 0.5em 0;
    }

.codeNewButton {
    float: right;
    width: 25px;
    height: 25px;
    padding: 2px 0 0 2px;
}

/*.buttonOn {
    border-radius: 10px !important;
    min-width: 50px;
    max-width: inherit;
    width: auto;
}
*/

.ui-group {
    display: inline-block;
}

    .ui-group h3 {
        display: inline-block;
        vertical-align: top;
        line-height: 32px;
        margin-right: 0.2em;
        font-size: 16px;
    }

    .ui-group .button-group {
        display: inline-block;
        margin-right: 20px;
    }

.navTabContainer {
    padding-left: 5px !important;
    width: 100%;
    height: 280px;
}

.headingText {
    position: relative;
    top: 18px !important;
}

    .headingText h2 {
        padding-top: 5px !important;
        margin-left: 8px;
    }

.navTabBar ul li {
    height: 25px;
}

.homeTabContainer {
    position: relative;
    top: 1px !important;
    left: 20px !important;
}

.homeTabBar, .navTabBar {
    position: relative;
    height: 40px;
    width: 60vw;
    top: 5px;
    overflow-y: scroll;
}

    .homeTabBar li a:active {
        border: none;
    }

.homeTab {
    position: relative;
    margin-top: 5px;
    left: 5px;
    width: 99.5%;
    overflow-x: auto;
    overflow-y: hidden;
}

    .homeTab ul li {
        height: 33px;
    }
        .homeTab ul li:hover,
        .homeTab > ul > li > a:hover {
            text-decoration: none;
        }

/*************************************	
 *********** News Section ************
 *************************************/
.newsTabs {
    width: 90%;
    height: 50px;
    z-index: 9;
}

.newsMastContainer, .postMastContainer {
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 10;
}

.newsDetailContainer, .postDetailContainer {
    overflow-y: auto;
    overflow-x: hidden;
    word-wrap: normal;
    z-index: 10;
}

.newsMastContainer {
    top: 230px;
    left: 110px;
}
    .newsMastContainer .newsMast {
        position: relative;
        left: 7px;
        text-align: left;
        vertical-align: top;
        padding-bottom: 5px;
        width: 100%;
    }
        .newsMastContainer .newsMast h3, .newsHeadline {
            position: relative;
            font-weight: bold;
            margin-left: 0;
        }

        .newsMastContainer .newsMast img {
            position: relative;
            top: 0px;
            left: -12px;
            width: 120px;
            height: 80px;
            margin-left: 5px;
        }

        .newsMastContainer .newsMast .newsHeadline {
            display: block;
            word-wrap: normal;
        }

.newsDetailContainer {
    position:absolute;
    top: 50px;
    left: 30.5%;
    height: 74vh;
    width: 39vw;
}
    .newsDetailContainer #newsDetail {
        margin: 5px 5px 5px 5px !important;
    }

.cultureContainer{position:relative;top:-9%;}
.cultureImage {
    position: relative;
    width:36vw;
}

/************************************	
 *********** Tab Section ************
 ************************************/
.tabContainer {
    position: relative;
    height: 70vh;
    left: 0;
    z-index: 10 !important;
    margin: 0;
    padding: 0;
}

.tabBar {
    height: 50px;
    width: 80%;
    position: fixed;
    top: 179px;
    left: 95px;
    z-index: 20;
}

.tabContent {
    position: relative;
    top: 5px !important;
}
/***************** END Tab Section **********************/

/*************************************
 **** Knowledge / Document Pages *****
 *************************************/
.knowledgeTabContainer {
    position: relative;
    top: -10px !important;
    left: 1px !important;
    width: 100% !important;
    margin: 0 auto;
}

#mgmtDocs {
    visibility: hidden;
}

.templateSection {
    width: 100%;
    height: 50vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.policySection {
    height: 550px !important;
    width: 90%;
    overflow-y: auto;
    overflow-x: hidden;
}

.editDoc {
    display: none;
}

.documentSection {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 71vh;
    width: 40%;
    position: relative;
    left: 3px;
}

    /* Webkit Browser Scrollbar */
    .documentSection::-webkit-scrollbar {
        width: 12px;
    }

    /* Track */
    .documentSection::-webkit-scrollbar-track {
        border-radius: 5px;
    }

    /* Handle */
    .documentSection::-webkit-scrollbar-thumb {
        border-radius: 5px;
    }

.documentFolder {
    width:99%;
}

	.documentFolder .folderTitle:after {
	    font-family: "Font Awesome 5 Free"; 
	    font-weight: 900; 
	    content: "\f07b";
	    font-size: 1em;
	    float:left;
	    margin-right:10px;
	}
	
	.documentFolder .folderTitle.collapsed:after {
	    font-family: 'Font Awesome 5 Free';
	    font-size: 1em;
	    font-weight:900;
	    content: "\f07c";
	    float:left;
	    margin-right:10px;
	}

.documentViewer {
    position: absolute;
    top: 120px;
    left:41%;
    width: 55%;
    height: 69vh;
    z-index: 999;
}
.documentViewer iframe {height:100%; width:100%;}

.docItem {
    position: relative;
    height:20px;
    width: 100%;
    left:4%;
    float: left !important;
    margin: 5px 0 0 0 !important;
    font-size: 1em !important;
    font-weight: bold;
}
.docItem a:hover{padding:5px;}

.iconContainer {
    display: inline-flex;
    flex:0 0 5%;
    max-width:15%;
}

/******************************************************************************************************/

.teamDocumentSubfolders .docIcon, .teamDocumentSubfolders .docEdit, .teamDocumentSubfolders .docView,
.docList .docIcon, .docList .docEdit, .docList .docView {
    position: absolute;
    display: inline-table;
}

.teamDocumentSubfolders .docIcon, .docList .docIcon {
    left: 21px;
}

.teamDocumentSubfolders .docView, .docList .docView {
    left: 39px;
}

.teamDocumentSubfolders .docEdit, .docList .docEdit {
    left: 65px;
}

.teamDocumentSubfolders .docDelete, .docList .docDelete {
    float: right;
}

.nav-stacked > li + li {
    margin-right: 5px;
}

#teamDocs {
    position: absolute;
    height: 82vh;
    width: 100%;
}

.teamDocumentTabs {
    top: 5px;
    width: 90%;
    height: 60px;
    z-index: 99;
    overflow: hidden;
}
    .teamDocumentTabs > ul {
        position: fixed;
        width: 54%;
        height: 60px;
        white-space: nowrap;
        list-style-type: none;
        display: inline-block;
        font-size: .91em;
        padding: 2px 0 0 0;
        overflow-x: scroll;
        overflow-y: hidden;
    }

        .teamDocumentTabs > ul > li {
            display: inline;
        }

        .teamDocumentTabs > ul::-webkit-scrollbar-track {
            border-radius: 10px;
        }

        .teamDocumentTabs > ul::-webkit-scrollbar {
            width: 12px;
        }

        .teamDocumentTabs > ul::-webkit-scrollbar-thumb {
            border-radius: 10px;
        }

    .teamDocumentTabs > li {
        margin: 0 5px 5px 3px;
        display: inline;
    }

.teamDocuments {
    position: relative;
    left: 0px;
    width: 90%;
    height: 90%;
    margin: 0;
    padding: 0;
    z-index: 10 !important;
}

.teamDocumentFoldersContainer, .teamDocumentViewerContainer {
    height: 78vh;
    padding: 0;
}

.teamDocumentFolders {
    margin: 0;
    padding: 0;
}

.teamDocumentSubfolders {
    height: 65vh;
}

.teamDocumentViewerContainer {
    width: 59% !important;
}

.teamDocumentViewerFrame {
    height: 100%;
    position: relative;
    top: -20px;
}

.teamDocButtonContainer {
    position: absolute;
    left: 93%;
}

.teamDocEmailButton, .teamDocNewButton, .teamDocViewButton, .teamDocFolderButton, .teamDocMyButton {
    height: 38px;
    width: 38px;
    padding: 7px 0 0 12px;
    border-radius: 10px !important;
    margin: 5px 5px 0 5px;
}

.addFolderButton {
    position: relative;
    top: 7px;
    left: 26px;
}

.docSetFolders {
    height: 60vh;
}

.documents {
    position: absolute;
    top: 38px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    height: 590px;
}

/* used for Operational Excellence Awards page */
#docs, #viewer {
    height: 540px;
}

#viewer {
    margin-left: 10px;
}

.fadein {
    position: relative;
    height: 225px;
    width: 110%;
}

    .fadein img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }

#docFolders .panel {
    margin-bottom: 7px !important;
}

#docFolders {
    height: 100%;
    margin-bottom: 10px;
    text-align: left;
}

object embed {
    height: 100% !important;
    width: 100% !important;
    z-index: 5 !important;
}

.docPreview {
    position: absolute;
    top: 38px;
    width: 99.5%;
    height: 590px;
    z-index: 999;
}

.ms-vh2, .ms-vh-div {
    white-space: normal;
    font-weight: bold;
    font-size: 13px;
}

/************************************************/

/*******************************
 ***** Specific Page Items *****
 *******************************/
.categoryContainer {
    position: relative;
    top: 15px;
    left: 20px;
    width: 250px;
    float: right;
}

.teamContainer {
    position: relative;
    top: 60px;
    left: 0;
}

.slider-wrapper {
    position: relative;
    top: -5px !important;
    width: 70%;
    height: 50%;
}

blockquote {
    font-size: .9em !important;
    font-weight: 600 !important;
    margin: 5px 0 5px;
    padding:5px;
}

.bullets {
    position: relative;
    top: -1px !important;
    font-size: 10px;
    font-family: 'Font Awesome 5 Free';
    content: "\e165";
}

    .bullets li {
        position: relative;
        top: -19px !important;
        left: 15px;
        margin-bottom: -10px;
        font-size: 14px;
    }

.profileEditBtn {
    border-radius: 8px !important;
}
    .profileEditBtn:hover {
        border-radius: 8px;
    }

.profileName {
    position: relative;
}

.profileAbout {
    position: relative;
    top: -15px;
}

.profileTabs {
    padding-left: -20px;
    position: relative;
    left: -20px;
}

.profileContent {
    margin-left: 10px;
    height: 335px;
    width: 99.2%;
    overflow-y: auto;
    overflow-x: hidden;
}

.titleRow {
    position: absolute;
    z-index: 99;
    font-size: .9em;
}

.faqContainer {
    margin-top: 5px !important;
    z-index: 5;
}

.faqQuestion {
    font-size: .9em;
    margin-bottom:5px;
}

.contactsContainer {
    position: relative;
    height: 75vh;
    top: 5px;
    z-index: 5;
}

.contactsTabs, .contactsContent {
    margin: 0;
    padding: 0 10px 0 0;
}

.contactsTabs {
    overflow-y: auto;
    overflow-x: hidden;
    width: 17vw;
    text-align: left;
}

.contactsContent {
    margin: 0 0 0 10px;
    width: 44vw;
    height: 100%;
    overflow: auto;
}
    .contactsContent .contactTitle {
        padding-left: 10px;
        margin: 0;
        width: 100% !important;
        height: 40px;
        border-radius: 10px 10px 0 0;
    }

    .contactsContent h3 {
        position: relative;
        top: -10px !important;
        font-weight: bold;
        vertical-align: middle;
    }

    .contactsContent .contactTable {
        margin-left: 15px !important;
        width: 96.5%;
    }

.dataTab {
    height: 300px;
}

.siteContact {
    position: relative;
    top: 350px;
    left: 120px;
}

.officeAddr {
    border: none;
    margin-left: -5px;
}

.googleMap {
    margin-top: 25px;
    margin-left: -40px;
}
/******************************************/

/*************************
 ***** Locations App *****
 *************************/
.locationFrame {
    position: relative;
    top: 10px;
    z-index: 3;
    padding-bottom: 10px;
}

.CHDACentres {
    position: relative;
    left: 0;
    height: 265px;
    width: 98%;
}

    .CHDACentres h3 {
        text-decoration: none;
        font-weight: bold;
        margin-top: 0px;
    }

    .CHDACentres h4 {
        text-decoration: underline;
        font-weight: bold;
        margin-top: 0px;
    }

.rowLocation {
    position: absolute;
    left: 30px;
    height: 200px;
    width: 100%;
}

.colLocation {
    height: 100%;
}
/**************************************************/

/*********************************************
 ***** About Suggestion & Team FAQs Page *****
 *********************************************/
.suggestionContainer, .faqContainer {
    position: absolute;
    height: 79vh!important;
    width: 100%;
    z-index:5;
}
.suggestionContainer {top: 8vh;}
.faqContainer {margin-top: 5px !important;}

.suggestionTabs, .suggestionContent, .faqTabs, .faqContent{
    position:absolute;
}

.suggestionTabs, .faqTabs {
    overflow-y: scroll;
    padding: 10px;
    height: 99%;
    text-align: left;
}
    .suggestionTabs .nav-tabs li > a, .faqTabs .nav-tabs li > a  {
        font-weight: bold;
        font-size: 1.1em;
        border-radius: 10px;
    }
        .suggestionTabs .nav-tabs li > a:active, .faqTabs .nav-tabs li > a:active {
            font-size: 1.1em;
            height: 20px;
            border-radius: 10px;
        }

    .suggestionTabs a:hover, .faqTabs a:hover {
        border-radius: 10px;
    }

.suggestionContent, .faqContent {
    left: 27vw;
    width: 69% !important;
    height: 99%;
    padding: 10px;
    overflow: scroll;
}
.suggestionContent::-webkit-scrollbar, .faqContent::-webkit-scrollbar{display:none;}
.suggestionTabs::-webkit-scrollbar, .faqTabs::-webkit-scrollbar{display:none;}

    .suggestionContent .collapsing, .faqAnswer .collapsing, .faqContent .collapsing, .faqAnswer .collapsing {
        top: -10px !important;
        width: 100% !important;
    }

    .suggestionContent .panel-group, .faqContent .panel-group {
        margin-right: 5px;
    }

.faqQuestion {
    font-size: .9em;
    margin-bottom:5px;
}

/**************************
 ***** About SMT Page *****
 **************************/
.bulletItem {
    width: 180px !important;
    font-size: 1em;
}

.smtValues {
    position: relative;
    margin: 5px auto;
    overflow: hidden;
    padding: 0;
    border-radius: 8px;
    width: 100%;
    height: 100%;
}

/*** Content ***/
.smtValues-container {
    margin: 0 auto;
    padding: 15px;
    width: 100%;
    min-height: 200px;
    overflow-x: auto;
}

    .smtValues-container .performance {
        height: 100%;
        width: 100%;
        padding: 9px;
        background: url("/PublishingImages/Culture/PerformanceValue1-01.png") no-repeat;
        opacity: 0.8;
    }

    .smtValues-container .commitment {
        height: 100%;
        width: 100%;
        padding: 9px;
        background-image: url("/PublishingImages/Culture/CommitmentValue1-01.png");
        opacity: 0.8;
    }

.smtBanner > h3 {
    font-size: .7em;
}

.smtValues-container h2, .smtValues-container h3, .smtValues-container h4 {
    font-size: .9em;
}

.smtValues-container p {
    font-weight: 600;
    line-height: 1.2em;
    text-align: justify;
}

.smtTabBar {
    position: relative;
    top: 5px;
    left: 1px;
    height: 32px;
    width: 100%;
    font-size: .9em;
}

.smtTabContainer {
    position: relative;
    top: 15px;
    width: 100% !important;
    margin: -6px 0 15px 0 !important;
}
    .smtTabContainer img {
        width: 90%;
        margin: 0 auto;
        left: 4%;
        position: relative;
    }

.smtBanner {
    width: 100%;
    height: 35px;
}
    .smtBanner > h3 {
        margin-left: 10px;
        margin-top: 10px;
    }

.smtTitle {
    padding-top: 6px;
}

/***************/
/** SMT Card  **/
/***************/
.contactContainer {
    position: relative;
    left: 0;
    top: 150px;
    width: 101%;
    height: 230px;
    overflow: hidden;
}

.contactCardRow {
    white-space: nowrap;
    height: 230px;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
}

.contactCard {
    display: inline-block;
    width: 144px;
    height: 200px;
    margin: 5px 8px 5px 8px;
    transition: 0.3s;
}
    .contactCard img {
        width: 130px;
        height: 130px;
        margin: 5px 5px 0 5px;
    }

    .contactCard div {
        margin: 7px 0 0 8px !important;
    }
    .contactCard .jobTitle {
        margin-top: -5px;
        font-size: .9em;
    }