@media screen and (min-width:1281px) and (max-width:1399px) and (max-height:1023px) {
    .megamenu.show{width:80vw;}
    .dropdown-menu.show, .megamenu.show{margin-top:7px;}
    .pageLeftContainer{height:86vh;overflow:hidden}
    .contactContainer{top:4vh!important;}
    .teamHomeBottomRow{top:30vh;height:37vh;flex: 0 0 30%;}
    .faqContent{width:98%;}
    .teamHomeRightColumn{height:67vh;}
    .faqContent, .changeContent{height:46vh;} 
}

/* For medium resoultion screens: 1280px to 1400pxwith min height 1024px */
@media screen and (min-width:1281px) and (max-width:1399px) and (min-height:1024px) {
    .megamenu.show{width:80vw;}
    .dropdown-menu.show, .megamenu.show{margin-top:7px;}
    .pageLeftContainer{height:86vh;overflow:hidden}
    .contactContainer{top:4vh!important;}
    .teamHomeBottomRow{top:30vh;height:37vh;flex: 0 0 30%;}
    .faqContent{width:98%;}
    .teamHomeRightColumn{height:67vh;}
    .faqContent, .changeContent{height:46vh;} 
}
