@media screen and (min-width: 2601px) and (max-width: 3000px) {

    .headingText {
        width: 965px;
        height: 40px;
    }

    #showhideApp {
        display: inherit
    }

    /* Team Calendar */
    /*.ecl-calendar {
	    width: 46.5%!important;
	  }*/

    .ms-cal-weekname {
        width: 10%;
    }

    .nav-tabs > li {
        width: 85px;
        font-size: .9em;
    }

    .accordion-toggle:after {
        top: -42px !important;
        left: -12px !important;
    }

    .accordion-toggle.collapsed:after {
        top: -42px !important;
        left: -12px !important;
    }

    .panel-title {
        font-size: 1.2em !important;
        text-decoration: none !important;
    }

    /*** For Document Viewer ***/
    .tabContainer {
        margin-left: 15px;
        width: 88% !important;
    }

    .tabBar {
        padding-top: 10px !important;
        height: 50px;
    }

    .tabContent {
        left: 20px !important;
    }

    /*.teamDocumentTabs > ul {font-size:.9em!important;}*/
    .teamDocumentFoldersContainer, .teamDocumentViewerContainer {
        height: 610px;
    }

    .docItem {
        font-size: 1em !important;
    }

    .btn-responsive {
        padding: 4px 9px;
        font-size: 90%;
        line-height: 1.5;
    }

    .documents {
        height: 530px;
    }

    .docPreview {
        height: 530px;
    }

    #docs, #viewer {
        height: 500px !important;
    }
    /*#docFolders{height:260px!important}*/
    #viewer {
        width: 57.2%;
    }

    .fadein {
        height: 230px !important;
        width: 500px !important;
        margin-left: 45px;
    }

    /********* END *********/

    .pageText {
        width: 100% !important
    }

    .knowledgeDocuments {
        width: 100% !important
    }

    .list-group {
        font-size: 1em !important;
    }

    /**** for SMT Values ****/
    .smtBanner > h3 {
        font-size: 1em;
    }

    .smtTabContainer {
        position: relative;
        top: 12px;
        margin-bottom: 15px !important;
    }

    .smtTabBar {
        font-size: .9em;
    }

    /*** for SMT Contact Cards ***/
    .smtContainer {
        top: 60px;
        width: 83.5%;
        height: 240px;
    }

    .smtCards {
        position: relative;
        top: 10px !important;
        left: 5px;
    }

    .homeTabContainer {
        height: 580px !important;
        width: 150% !important;
    }

    .homeTabBar, .navTabBar, .tabBar {
        top: 1px;
        left: -10px;
    }

    .contactsTabs {
        width: 15vw;
        font-size: .9em;
    }

    .CHDACentres {
        height: 295px
    }

    .acSection {
        position: relative;
        left: 20px;
    }

    .CentresDataBox {
        padding-left: 1px;
        overflow-y: scroll;
        overflow-x: hidden;
        height: 195px;
        width: 660px;
    }

    .newsMastContainer {
        height: 73%;
        width: 24% !important;
    }

    .newsMast img {
        left: -15px !important;
        width: 150px !important;
        height: 100px !important;
    }

    .newsMast h3, .newsHeadline {
        top: -8px;
        left: 20px;
    }

    .newsMast h3 {
        font-size: 1.2em !important;
    }

    .newsMast .newsHeadline {
        /* color: #545487 !important;*/
        font-size: 1.1em;
        margin: -3px 0 1em 3px;
        width: 99%;
    }

    .newsDetailContainer {
        height: 73%;
        width: 52%;
        left: 29%;
    }

    .postToolsContainer {
        left: 72% !important;
        height: 78.7% !important;
        width: 9% !important;
    }

    .postMastContainer, .postDetailContainer {
        height: 57.5%;
        top: 305px;
    }

    .postMastContainer {
        left: 110px;
        width: 20% !important;
    }

    .postDetailContainer {
        left: 24.9% !important;
        width: 46.5%;
    }

    .newPostBtn {
        left: 66.8%;
    }
}