@media screen and (min-width:1281px) and (max-width:1399px) and (max-height:1023px) {

    .headingText {
        width: 965px;
        height: 40px;
    }

    #showHideApp {
        display: inherit;
    }

    .nav-tabs > li {
        width: 90px;
    }

    /*** For Document Viewer ***/

    .tabContent {
        height: 75%;
    }

    .teamDocumentTabs {
        width: 65%
    }

    .teamDocumentFoldersContainer, .teamDocumentViewerContainer {
        height: 450px;
    }

    .teamDocuments {
        height: 440px
    }

    .docItem {
        font-size: 1em !important;
    }

    .btn-responsive {
        padding: 4px 9px;
        font-size: 90%;
        line-height: 1.5;
    }

    .dataAdjustRight {
        margin-left: 5px;
    }

    .documents {
        height: 530px;
    }

    .docPreview {
        height: 530px;
    }

    #docs, #viewer {
        height: 780px !important
    }

    #viewer {
        width: 57%
    }

    .fadein {
        width: 422px;
        margin: 0 0 0 25px;
    }

    /********* END *********/

    .pageText {
        width: 90% !important;
    }

    .knowledgeDocuments {
        width: 90% !important;
    }

    .smtBanner > h3 {
        font-size: 1.1em !important;
    }

    .list-group {
        font-size: .9em !important;
    }

    .homeTabContainer {
        position: relative;
        top: -5px !important;
        left: 5px !important;
        height: 180px !important;
        width: 95% !important;
    }

    .homeTabBar, .navTabBar, .tabBar {
        margin: -5px 0 0 0;
    }

    .homeTabContent {
        position: relative;
        left: 10px !important;
    }

    .contactsTabs {
        width: 14vw;
        font-size: .8em;
    }

    .contactsContent {
        width: 35vw;
    }

    .suggestionContainer {
        top: 27.5vh;
        height: 48vh;
    }

    .CHDACentres {
        height: 200px;
    }

    .CentresDataBox {
        padding-left: 1px;
        margin-top: 0;
        overflow-y: scroll;
        overflow-x: hidden;
        height: 190px;
        width: 600px;
    }

    .acSection {
        position: relative;
        left: 20px;
    }

    /*** for SMT values ***/
    .smtBanner > h3 {
        font-size: .7em
    }

    .smtTabContainer {
        top: 15px;
        left: 2px !important;
    }

    .smtTabBar {
        left: -2px;
        height: 35px;
    }

    /**************************/

    .newsMastContainer {
        height: 58%;
        width: 24% !important;
    }

    .newsMast img {
        left: -15px !important;
        width: 140px !important;
        height: 100px !important;
    }

    .newsMast h3, .newsHeadline {
        top: -8px;
        left: 40px;
    }

    .newsMast h3 {
        font-size: 1em !important;
    }

    .newsMast .newsHeadline {
        /* color: #545487 !important;*/
        font-size: .9em;
        margin: -3px 5px 1em 5px;
        width: 90% !important;
    }

    .newsDetailContainer {
        height: 58%;
        width: 48%;
        left: 33%;
    }

        .newsDetailContainer #newsDetail {
            font-size: .9em;
        }

    .postToolsContainer {
        width: 13.7% !important;
    }

    .postMastContainer, .postDetailContainer {
        height: 67vh;
    }

    .postMastContainer {
        width: 20% !important;
    }

    .postDetailContainer {
        left: 25% !important;
        width: 41%;
    }

    .forumButtonContainer {
        left: 100%;
        z-index: 15
    }

    .forumToolbox {
        height: 31%
    }
}

/* For medium resoultion screens: 1280px to 1400pxwith min height 1024px */
@media screen and (min-width:1281px) and (max-width:1399px) and (min-height:1024px) {

    .headingText {
        width: 965px;
        height: 40px;
    }

    #showHideApp {
        display: inherit;
    }

    .nav-tabs > li {
        width: 90px;
    }

    /*** For Document Viewer ***/

    .tabContent {
        height: 75%;
    }

    .teamDocumentTabs {
        width: 65%
    }

    .teamDocumentFoldersContainer, .teamDocumentViewerContainer {
        height: 450px;
    }

    .teamDocumentFoldersContainer {
        top: -8px;
        width: 40% !important
    }

    .teamDocumentViewerContainer {
        top: -8px;
        left: 40%;
        width: 95% !important;
    }

    .teamDocuments {
        height: 440px
    }

    .teamDocButtonContainer {
        left: 75.5% !important;
    }

    .docItem {
        font-size: 1em !important;
    }

    .btn-responsive {
        padding: 4px 9px;
        font-size: 90%;
        line-height: 1.5;
    }

    .dataAdjustRight {
        margin-left: 5px;
    }

    .documents {
        height: 530px;
    }

    .docPreview {
        height: 530px;
    }

    /* Operational Excellence Awards */
    #docs, #viewer {
        height: 760px !important
    }

    #viewer {
        width: 57%
    }

    #docFolders {
        height: 500px !important
    }

    .fadein {
        width: 450px
    }

    /********* END *********/

    .pageText {
        width: 90% !important;
    }

    .knowledgeDocuments {
        width: 90% !important;
    }

    .panel-title {
        font-size: .9em !important;
        text-decoration: none !important;
    }

    .smtBanner > h3 {
        font-size: 1.1em !important;
    }

    .list-group {
        font-size: .9em !important;
    }

    .homeTabContainer {
        position: relative;
        top: -5px !important;
        left: 5px !important;
        height: 180px !important;
        width: 95% !important;
    }

    .homeTabBar, .navTabBar, .tabBar {
        margin: -5px 0 0 0;
    }

    .homeTabContent {
        position: relative;
        left: 10px !important;
    }

    .faqContainer, .faqTabs, .faqContent {
        height: 480px;
    }

    .faqContainer {
        width: 73%;
    }

    .faqContent {
        position: relative;
        width: 68%;
    }

    .suggestionContainer {
        top: 19.5vh;
        height: 55vh;
    }

    .commsTiles {
        position: relative;
        top: 500px;
    }

    .CHDACentres {
        height: 200px;
    }

    .CentresDataBox {
        padding-left: 1px;
        margin-top: 0;
        overflow-y: scroll;
        overflow-x: hidden;
        height: 190px;
        width: 600px;
    }

    .acSection {
        position: relative;
        left: 20px;
    }

    /*** for SMT values ***/
    .smtBanner > h3 {
        font-size: .7em
    }

    .smtTabContainer {
        top: 15px;
        left: 2px !important;
    }

    .smtTabBar {
        left: -2px;
        height: 35px;
    }

    /**************************/

    .newsMastContainer {
        height: 58%;
        width: 24% !important;
    }

    .newsMast img {
        left: -15px !important;
        width: 140px !important;
        height: 100px !important;
    }

    .newsMast h3, .newsHeadline {
        top: -8px;
        left: 40px;
    }

    .newsMast h3 {
        font-size: 1em !important;
    }

    .newsMast .newsHeadline {
        /* color: #545487 !important;*/
        font-size: .9em;
        margin: -3px 5px 1em 5px;
        width: 90% !important;
    }

    .newsDetailContainer {
        height: 58%;
        width: 48%;
        left: 33%;
    }

        .newsDetailContainer #newsDetail {
            font-size: .9em;
        }

    .postToolsContainer {
        left: 90% !important;
        width: 13.7% !important;
    }

    .postMastContainer, .postDetailContainer {
        height: 67vh;
    }

    .postMastContainer {
        width: 20% !important;
    }

    .postDetailContainer {
        left: 25% !important;
        width: 41%;
    }

    .forumButtonContainer {
        left: 100%;
        z-index: 15
    }

    .forumToolbox {
        height: 33%
    }
}
