@media screen and (min-width: 2500px) and (max-width: 2550px) {

    .headingText {
        width: 965px;
        height: 40px;
    }

    #showhideApp {
        display: inherit
    }

    .contactsTabs {
        width: 15vw;
        font-size: .9em;
    }
}

@media screen and (min-width: 2551px) and (max-width: 2600px) {

    .siteWelcomeMessage {
        width: 155% !important
    }

    .headingText {
        width: 965px;
        height: 40px;
    }

    #showhideApp {
        display: inherit
    }

    .nav-tabs .nav-item {
        width: 100px;      
        font-size: .9em;
    }
    .nav-link .active {border:1px solid #ddddeb!important}

    .panel-title {
        font-size: 1.2em !important;
        text-decoration: none !important;
    }

    /*** For Document Viewer ***/

    .tabBar {
        height: 50px;
    }

    .tabContent {
        height: 75%;
    }

    /*.teamDocumentTabs > ul {font-size:.9em!important;}*/
    .teamDocumentFoldersContainer, .teamDocumentViewerContainer {
        height: 980px;
    }

    .docItem {
        font-size: 1em !important;
    }

    .btn-responsive {
        padding: 4px 9px;
        font-size: 90%;
        line-height: 1.5;
    }

    .documents {
        height: 530px;
    }

    .docPreview {
        height: 530px;
    }

    #docs, #viewer {
        height: 500px !important;
    }
    /*#docFolders{height:260px!important}*/
    #viewer {
        width: 57.2%;
    }

    .fadein {
        height: 230px !important;
        width: 500px !important;
        margin-left: 45px;
    }

    /********* END *********/

    .pageText {
        width: 100% !important
    }

    .knowledgeDocuments {
        width: 100% !important
    }

    .list-group {
        font-size: 1em !important;
    }

    /**** for SMT Values ****/
    .smtBanner > h3 {
        font-size: 1em;
    }

    .smtTabBar {
        font-size: .9em;
    }

    /*** for SMT Contact Cards ***/
    .smtContainer {
        top: 60px;
        width: 83.5%;
        height: 240px;
    }

    .smtCards {
        position: relative;
        top: 10px !important;
        left: 5px;
    }
    /*****************************/

    .homeTabContainer {
        height: 580px !important;
        width: 150% !important;
    }

    .faqContainer {
        height: 995px !important;
    }

    .contactsTabs {
        width: 15vw;
        font-size: .9em;
    }

    .CHDACentres {
        height: 295px
    }

    .acSection {
        position: relative;
        left: 20px;
    }

    .CentresDataBox {
        padding-left: 1px;
        overflow-y: scroll;
        overflow-x: hidden;
        height: 195px;
        width: 660px;
    }

    .newsMastContainer {
        height: 73%;
        width: 24% !important;
    }

    .newsMast img {
        left: -15px !important;
        width: 150px !important;
        height: 100px !important;
    }

    .newsMast h3, .newsHeadline {
        top: -8px;
        left: 20px;
    }

    .newsMast h3 {
        font-size: 1.2em !important;
    }

    .newsMast .newsHeadline {
        /* color: #545487 !important;*/
        font-size: 1.1em;
        margin: -3px 0 1em 3px;
        width: 99%;
    }

    .newsDetailContainer {
        height: 73%;
        width: 52%;
        left: 29%;
    }

    .postToolsContainer {
        left: 77.7% !important;
        height: 78.7% !important;
        width: 9% !important;
    }

    .postMastContainer {
        width: 22%;
    }

    .postDetailContainer {
        left: 24.9% !important;
        width: 46.5%;
    }

    #postsIcon {
        left: 76%
    }
}