.ecl-listing, {
    margin-bottom: 10px;
    color: black !important;
    position: relative;
    top: 5px;
    width: 100%;
}

    .ecl-listing h3, cal-listing h3 {
        font-size: 1.2em;
        font-weight: bold;
        margin: 0.5em 0;
        background-color: #545487;
        color: white !important;
        padding-left: 10px !important;
    }

    .ecl-listing ul {
        margin-bottom: .75em;
        color: black !important;
    }

    .ecl-listing li {
        list-style-type: disc;
        font-size: 1.2em;
        margin-left: 23px;
        line-height: 100%;
        color: black !important;
    }

    .ecl-listing ul li, .ecl-listing ul li:hover, .ecl-listing ul li > a:hover {
        color: black !important;
        cursor: default
    }

.cal-listing ul li:hover, .cal-listing ul li > a:hover {
    background-color: #7676b8 !important;
    color: white !important;
    font-weight: bold;
    cursor: pointer;
}

.cal-listing h2 {
    width: 100%;
    background-color: #545487;
    color: white !important;
    height: 35px;
    margin: 0 0 5px 0;
    padding: 5px;
    border-radius: 10px 10px 0 0;
}