/*   **************************************************
     Site   	: MAXIMUS UK Intranets
     Page   	: Any for UK Business Units Front Door area
     Author 	: Jason Clark
     Date   	: Feb 2019
     Purpose	: Master CSS file for Custom Master page [company].master - Contains no branding colours just positioning and font CSS
    
     Modified By: 
     Date		: 
     Notes		: 
     
     Modified By:
     Date		:
     Notes		:

    ************************************************** */
    
    @font-face {
        font-family: Avenir;
        font-weight: bold;
        src: url("/_catalogs/masterpage/MAXUK/fonts/AvenirLTStd-Black.otf") format("opentype");
      }

    @font-face {
        font-family: Avenir;
        font-weight: bolder;
        src: url("/_catalogs/masterpage/MAXUK/fonts/AvenirLTStd-Heavy.otf") format("opentype");
    }

    @font-face {
        font-family: Avenir;
        font-weight: 700;
        src: url("/_catalogs/masterpage/MAXUK/fonts/AvenirLTStd-Medium.otf") format("opentype");
    }

    @font-face {
        font-family: Avenir;
        src: url("/_catalogs/masterpage/MAXUK/fonts/AvenirLTStd-Light.otf") format("opentype");
    }

   
    @font-face {
        font-family: Avenir;
        src: url("/_catalogs/masterpage/MAXUK/fonts/AvenirLTStd-Roman.otf") format("opentype");
    }

    @font-face {
        font-family: Avenir;
        src: url("/_catalogs/masterpage/MAXUK/fonts/AvenirLTStd-Book.otf") format("opentype");
    }
   
    @font-face {
        font-family: FS ME;  
        font-weight: bolder;
        src: url("/_catalogs/masterpage/MAXUK/fonts/FS ME Heavy.otf") format("opentype"),
            url("/_catalogs/masterpage/MAXUK/fonts/FS ME Heavy.woff") format("woff"),
            url("/_catalogs/masterpage/MAXUK/fonts/FS ME Heavy.svg#filename") format("svg");
    }
    
    @font-face {
        font-family: FS ME;
        font-weight: bold;
        src: url("/_catalogs/masterpage/MAXUK/fonts/FS ME Bold.otf") format("opentype"),
            url("/_catalogs/masterpage/MAXUK/fonts/FS ME Bold.woff") format("woff"),
            url("/_catalogs/masterpage/MAXUK/fonts/FS ME Bold.svg#filename") format("svg");
    }
    
    @font-face {
        font-family: FS ME;
        src: url("/_catalogs/masterpage/MAXUK/fonts/FS ME Light.otf") format("opentype"),
            url("/_catalogs/masterpage/MAXUK/fonts/FS ME Light.woff") format("woff"),
            url("/_catalogs/masterpage/MAXUK/fonts/FS ME Light.svg#filename") format("svg");
    }

    html, body {
        width: 100%;
        height: 100%;
        font-family: "Avenir", "FS ME", Arial, sans-serif !important;
        overflow: hidden !important;
        font-size: 1em;
        font-weight: normal;
        text-decoration: none;
        white-space: normal;
        word-break: normal;
        line-height: normal;
    }
        
    /*****************************/
    /***** Page Header Start *****/
    /*****************************/
    
    header {
        position: fixed;
        z-index: 10 !important;
        top: -15px;
        left: 0;
        width: 100vw;
        height: 110px;
        background-size: cover;
    }
    
    #suiteBar, #suiteLinksBox, #suiteBarLeft {
        display: none;
    }
    
    /* Newsfeed, OneDrive, etc links on Top Nav Bar */
    
    #s4-ribbonrow {
        position: fixed;
        top: 0;
        left: 1px;
        width: 100%;
        z-index: 9999 !important;
    }

    .s4-ribbonrowhidetitle {
        display: none;
    }
    
    .headerLeftContainer, .headerRightContainer {
        height: 80px;
    }
    
    /******************************/
    /****** Left Header Items *****/
    /******************************/
    .headerLeftContainer {
        position: fixed !important;
        top: 0;
        left: 10px;
        z-index: 16;
    }
    
    /* CHDA logo */
    .pageLogo {
        position: absolute;
        top:10px;
        left: 0;
        height: 71px;
        width: 220px;
        margin: 0;
        z-index: 3;
    }
    
        .pageLogo img {
            height: 60px;
        }
    
    .pageTitle {
        position: absolute;
        font-weight: bold !important;
        text-align: left;
        left: 15px;
        top:32px;
        margin: 0 !important;
        z-index: 15 !important;
        font-size: .9em;
    }
    
        .pageTitle h1 {
            font-size: 1.5em !important;
        }

    /***********************************/
    /****** Top Navigation Section *****/
    /***********************************/            
    .nav-section {
        position: absolute;
        left: 195px;
        top: 10px;
        height: 30px;
        width: 80%;
        display: inline-block;
        z-index: 9999 !important;
    }
    .navbar-nav {
        padding-left: 0 !important;
        margin: 0;
    }
    
/*    .navbar-collapse, .collapse.navbar-collapse {
        position: absolute;
        top: 0;
        left: 0;
        padding: 0;
    }*/

    .navbar-collapse, .collapse.navbar-collapse{position: absolute; top:-10px;left:-5px; padding: 0;}
    .dropdown-item {font-weight:bold}
    .dropdown-item:focus, .dropdown-item:hover{
        width:auto;       
        padding:.25rem 1.5rem;
    }
    #customNav .megamenu-li {
        position: static;
    }       
    #customNav .nav-item a {padding-bottom:0}
    .nav-item.dropdown.show a, #customNav .nav-item.dropdown.megamenu-li.show a{padding-bottom:0;}
    #customNav .megamenu.show {
        position: absolute;
        width: 70vw;
        /*left: 5px;*/
        /*right: 0;*/
        /*top:75px;*/
        padding: 15px;
    }
    .dropdown-menu.show, .megamenu.show{
        border-radius:0 10px 10px 10px;
        margin-top:7px;
    }          
    .navSectionHeader{margin:0 0 0 15px;}
    .teamSection{margin-top:10px;}
    .teamTitle{margin-left:5px}

    /***** END Top Navigation Menu *****/
    
    /***** END Left Header Items   *****/    
    
    /*******************************/
    /****** Right Header Items *****/
    /*******************************/
    .headerRightContainer {
        position: fixed !important;
        margin: 0;
        width: 22%;
        top: 5px;
        left: 76.2%;
        z-index: 15;
    }
    
    .navbar-search {
        position: relative;
        top: 5px;
        left: -15px;
        width: 100%;
        height:50px;
    }
    
    .ms-srch-sb-border, .ms-srch-sb-borderFocused {
        width: 107% !important;
    }
    
    .ms-srch-sb > input {
        width: 85% !important;
        padding: 0 5px;
        margin-top: 5px;
        height:22px;
    }
    
    .welcomeText {
        position: absolute;
        left: 7px !important;
        top:40px;
        width:65%;
        font-size: 1.1em;
        font-weight: bold;
        z-index: 10;
        
    }       
        .welcomeText .nav-item a {position:relative}
            .welcomeText .dropdown.show .nav-link:hover{padding-bottom:2px;}
            .welcomeText .nav-item .nav-link:hover {
                text-decoration: none;                
                position:relative;
                top:8px;
                padding: 0 .5rem 1px .5rem;
            }
        .welcomeText .dropdown.show{
           padding-bottom:2px; 
           position: relative;
           z-index:999;
        }
        .welcomeText .dropdown-menu.show{margin-top:9px;top:40px}        
        .welcomeText .dropdown-item a:hover{
            position: relative;
        }

    #suiteBarRight {
        position: fixed;
        top: 110px !important;
        left: 75% !important;
        z-index: 99;
    }
    
    .adminTools {
        position: absolute;
        top: 42px;
        left: 73%;
        width: 100px;
    }
    
    .siteHelp {
    
        float: right;
        padding: 0 10px 0 0;
        font-size: 18px !important; /* Icon size */
    }
        
        .siteHelp a:before {
            padding: 5px 5px 5px 5px;
        }
        
    .siteEmail {
        position: relative;
        left: 37px;
    }
    
    .siteTest {
        position: relative;
        float: left;
        z-index: 999 !important;
        top: 3px;
        font-size: 14px;
    }

    /***** Site Actions Cog *****/
    .siteActions {
        font-size: 1rem;  
        position: relative;
        top: -3px !important;
        left: -10px;
        z-index: 999 !important;
    }
    
    .ms-siteactions-normal a:hover {
        text-decoration: none;
        cursor: pointer;
    }
    
    .ms-siteactions-normal a:before {
        display: block; /* Forces respect of padding */
    }
    
    .ms-core-menu-box, .ms-core-menu-root {
        width: 180px !important;
        top: 45px!important;
    }
    
        .ms-core-menu-box .ms-core-defaultFont .ms-shadow {
            padding: 0;
            left: -135px !important;
        }
    
    /* Hide Site Actions gear icon */
    .ms-siteactions-imgspan {
        display: inherit;
    }
    
    /************************** END Header Right Items *******************************/

    h1 {
        font-family: "Avenir", "FS ME", Arial, sans-serif !important;
        font-size: 24px !important;
        font-weight: bolder;
    }
    
    h2 {
        font-family: "Avenir", "FS ME", Arial, sans-serif !important;
        font-size: 20px !important;
        font-weight: bold;
    }
    
    h3 {
        font-family: "Avenir", "FS ME", Arial, sans-serif !important;
        font-size: 18px !important;
        font-weight: bold;
        text-shadow: none !important;
    }
    
    h4 {
        font-family: "Avenir", "FS ME", Arial, sans-serif !important;
        font-size: 16px !important;
        font-weight: 900;
        text-shadow: none !important;
    }
    
    h5 {
        font-family: "Avenir", "FS ME", Arial, sans-serif !important;
        font-size: 1rem !important;
        font-weight: 800;
        text-shadow: none !important;
    }
    
    h6 {
        font-family: "Avenir", "FS ME", Arial, sans-serif !important;
        font-size: 1em !important;
        font-weight: 700;
        text-shadow: none !important;
    }

    p {
        font-family: "Avenir", "FS ME", Arial, sans-serif !important;
        font-size: .9em !important;
        font-weight:normal;
        text-shadow: none !important;
    } 

    h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a, p > a, a, a:focus, a:hover {
        text-decoration: none;
        font-weight:bold;
    }

    h1 > a:hover, h2 > a:hover, h3 > a:hover, h4 > a:hover, h5 > a:hover, h6 > a:hover {border-radius:5px; text-decoration: none;} /*padding:3px;*/
    
    /* Focus on Content button */
    Span#fullscreenmodebox {
        display: none;
    }

    .pulsate {
        -webkit-animation: pulsate 3s ease-out;
        -webkit-animation-iteration-count: infinite; 
        opacity: 0.5;
    }
    @-webkit-keyframes pulsate {
        0% { 
            opacity: 0.5;
        }
        50% { 
            opacity: 1.0;
        }
        100% { 
            opacity: 0.5;
        }
    }
    
    /***** END Header Section *****/
    
    /***************************/
    /***** Page Body Start *****/
    /***************************/
    body {
        min-height: 100%;
        padding-top: 0;
        line-height: 1.40;
        margin: 0;
        overflow: hidden;
        background-repeat: no-repeat;
        text-decoration: none !important;
    }
    
    .mainContainer {
        position: fixed;
        z-index: 1;
        top: 105px !important;
        left: 20px !important;
        height: calc(100vh - 12.5%);
        width: calc(100vw - 2.3%);
        overflow: hidden;
    }
        
    .watermark {
        font-size: 15em;
        position: fixed;
        width: 100%;
        height: 100px;
        margin: 0 auto;
        z-index: -1;
        left: 19vw;
        top: 70vh;
        opacity: 0.15;
    }

    .hidden{display:none;}
            
    /****************************/
    /******* Page Content *******/
    /****************************/
    .pageLeftContainer {
        position: relative !important;
        /*top: 45px;*/
        flex: 0 0 97%;
        max-width: 94%;
        min-height:60vh;
        height:89vh;
        overflow-x:hidden;
				overflow-y:auto;
        z-index: 1 !important;
    }  
    
		/*.appContentFrame{width:100%;height:100%;}*/
    
		::-webkit-scrollbar {
        width: .9em;
        height: .9em;
    }
    
    ::-webkit-scrollbar-track {
        -webkit-border-radius: 10px;
        border-radius: 10px;
    }
    
    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-border-radius: 10px;
    }

    /***** Page Content Loader *****/
    .pageLoader {
        position: relative;
        top: 30%;
        left: 40%;
    }
        .pageLoader .loader {
            border-radius: 70%;
            width: 120px;
            height: 120px;
            -webkit-animation: spin 2s linear infinite; /* Safari */
            animation: spin 2s linear infinite;
            position: relative;
            left: 50px;
        }

    .collapsing {
        width: 100%;
    }

    .editIcon{margin-left:5px;font-size:1em;}

    /* bootstrap 4 slideshow Carousel Customization */   
    .carousel {border-radius:20px;height: 50% !important;}
    .carousel-inner{border-radius:20px;}
    .carousel-inner, .carousel-item{height:75vh!important}
    .carousel-control-prev, .carousel-control-next{width:5%;opacity: 0.7;}
    .carousel-control-prev-icon, .carousel-control-next-icon{width:60%;height:60%;} 
    .carousel-caption{
        font-family: "Avenir", "FS ME", Arial, sans-serif !important;
        font-size:1.3em!important;
    }
    .carousel-caption h4 {font-size:3rem!important;}   
    .carousel-caption h5 span {font-size:1.3rem!important;}
    
    .fill {
        width: 100%;
        min-height: 100px !important;
        background-position: center;
        background-size: cover;
    }  
		  
    /* nav tabs & pills customisation */
    .nav-tabs .nav-link {
        line-height: .8;
        border: none;
        border-radius: 0;
        font-weight:bold;
    }
    
    .nav-tabs .nav-link:hover {border-bottom:5px solid var(--PrimaryMid);}
    .nav-tabs .nav-link:active, .nav-tabs .nav-link:focus {border-bottom:5px solid var(--AccentDark2);}
    
    .nav-tabs .nav-link.active,
    .nav-tabs .nav-link:hover,
    .nav-tabs .nav-link:focus {
        font-weight:bold;
        cursor: pointer;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        border-radius: 3px;
    }
    
    .nav-tabs .nav-item {
        width: auto;
        font-size:1rem;
        margin-right:10px;
    }
    .nav-pills .nav-item {display:inline-flex;}
    .nav-pills .nav-link {
        border-radius: 10px;
				margin:0 4px 3px 4px;
    }
    
        .nav-pills > .nav-link:hover, .nav-pills .nav-link.active:hover {
            border-radius: 10px;
        }
    
    .nav-pills .nav-link.active,
    .nav-pills .nav-link.active:focus {
        border: none;
        text-decoration: none;
    }  

    .ui-group {
        display: inline-block;
    }
    
        .ui-group h3 {
            display: inline-block;
            vertical-align: top;
            line-height: 32px;
            margin-right: 0.2em;
            font-size: 16px;
        }
    
        .ui-group .button-group {
            display: inline-block;
            margin-right: 20px;
        }
    
    .navTabContainer {
        padding-left: 5px !important;
        width: 100%;
        height: 280px;
    }
    
    .headingText {
        position: relative;
        top: 18px !important;
    }
    
        .headingText h2 {
            padding-top: 5px !important;
            margin-left: 8px;
        }
    
    .navTabBar ul li {
        height: 25px;
    }

    /*******************************/
    /**** Sidebar app container ****/     
    /*******************************/
    .restricted {
        opacity: 0.8;
        position: absolute;
        top: 0;
        left: 0;
        width: 56%;
        height: 100%;
        z-index: 99 !important;
    }    
        .restricted:before {
            position: absolute;
            top: -5%;
            left: 15%;
            opacity: 0.8;
            font-family: 'Font Awesome 5 Free';
            font-size: 15em;
            content: "\e090";
        }

    .appContainer{
        position:absolute;
        top:340px;
        width:320px;
        margin-left:0;
        overflow-x:hidden;
    }

    .sidebar {
        margin-top: 0;
    }
        .sidebar ul {
            border-radius: 3px;
            padding: 5px;
            list-style: none;
        }
            .sidebar ul li ul {
                border: 0 !important;
            }
										    
    #slider{top:100px!important; right:0; height: 100%!important; width:40vw!important; transition: all 300ms ease 0s;z-index:100}
    #trigger {
        padding: 5px 0 0 10px;                
        position: absolute;
        top: 10px;
        left:-86px;
        width: 75px;
        cursor: pointer;
        border-radius:10px 0 0 10px;
        z-index: 1002;
        font-weight:bold;
    }
      
    .sidebar .appContent {position:relative;top:3px;height:83.8vh;width:59%;padding:5px 5px 0 5px;overflow-y:scroll;overflow-x:hidden}
    .sidebar .appTabs {height:84vh;flex:0 0 30%;max-width:30vw;padding-top:3px;margin-top:3px;z-index:9999;position:relative;}
    .sidebar .appTabs .nav {width:100%;}
    .sidebar .appTabs .nav-link {width:75%;}
    /*.sidebar .appTabs .nav-link:not(:first-child){position:relative; top:-15px;}*/
    /*.scrollbar{overflow-y:scroll;overflow-x:hidden;height:100%}*/
    .sidebar .appTabs .editIcon {position:relative; top:10px; left:10px; width:20px}

    #usefulLinks .card{margin-bottom:5px;width:99%}
    #usefulLinks .card-header{border-radius:10px 10px 0 0;text-decoration: none}
    .metrotiles {left:10px;position:relative}

    .faqCategory, .faqData{height:69vh;}
    .faqNewQuestion {
        height:260px;
        top:50vh;
        padding:0 0 0 15px; 
    }
    #faqQuestion{margin:0;}
    .faqNewQuestion a {margin-top: 5px;}
    .qText{margin:0;}
    #faqCategory{padding:0;}
    #faqQuestionText{resize:none;width:95%;}
  
    /******************************/
    /****** Useful Links app ******/
    /******************************/
    .usefulLinksSection {
        position: relative !important;
        height: 100%;
        margin: 0;
        overflow: hidden;
    }    
    .linkContainer {
        margin: 0;
        font-size: 1em !important;
        text-align: left;
        overflow-y: auto;
        overflow-x: hidden;
        height: 99.5%;
        width: 100%;
    }       
        .linkContainer::-webkit-scrollbar {
            display:none;
        }   
        .linkContainer .collapsing {       
            top: -5px !important;      
            width: 100% !important;
        }   
        .linkContainer .list-group {
            position: relative;
            max-height: 99%;
            min-width: 100% !important;
            margin-top: 0;
        }    
        .linkContainer .list-group-item {
            font-weight: bold;
            text-decoration: none;
        }   
            .linkContainer .list-group-item:hover {
                border-radius: 0;
            }     
        .linkContainer a.list-group-item,
        button.list-group-item {
            text-decoration: none;
        }
        
    /****** Changes for Bootstrap Cards ******/
    .list-group {
        margin-bottom: 0;
        display:block!important;
    }   
    .card > :last-child.list-group :last-child.list-group-item, .card > .collapse > :last-child.list-group :last-child.list-group-item,
    .card > :first-child.list-group :first-child.list-group-item, .card > .collapse > :first-child.list-group :first-child.list-group-item {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }    
    .card {
        margin-bottom:5px;
        padding-left:1px;
        display:block;
				width:100%;
    }  
            .card > .list-group .list-group-item,
            .card > .collapse > .list-group .list-group-item {
                border-radius: 0;
            }
    
        .card > .show.collapse {
            margin-top: 0px;
        }
        
    .card-header {
        text-decoration: none !important; 
        margin-bottom:5px;  				  
    }    
        .card-header:hover, .accordion-toggle:hover {
            text-decoration: none !important;
        }
    .card-body{padding:.5rem 0 0 .8rem;}

/*     
    [data-toggle="collapse"] .accordion-toggle:before {
        position:absolute;
        top:8px;
        right:15px;
        font-size:1.2rem;
        font-weight:bold;
        color:#000!important;
        padding:0;
        font-family: "Font Awesome 5 Free";
        content: "\f35a";
        transition:.3s transform ease-in-out; 
    }

    [data-toggle="collapse"].collapsed .accordion-toggle:before {
        font-family: "Font Awesome 5 Free";
        content: "\f35a";  
        transform: rotate(90deg);       
    }
*/
/*    .accordion-toggle:before{
        font-family: "Font Awesome 5 Free"; 
        font-weight: 900; 
        content: "\f358";
        font-size: 1.3em;
        float:right;
    }*/
		    
    .accordion-toggle:after {
        position: relative;
        top: -44px !important;
        left: -13px !important;
        padding: 0;
        font-family: "Font Awesome 5 Free"; 
        font-weight: 900; 
        content: "\f35a";
        font-size: 1.3em;
        float:right;
        transition:.3s transform ease-in-out; 
    }
    
    .accordion-toggle.collapsed:after {
        position: relative;
        top: -44px !important;
        left: -13px !important;
        padding: 0;
        font-family: 'Font Awesome 5 Free';
        font-size: 1.3em;
        font-weight:900;
        content: "\f35a";
        float:right;
        transform: rotate(90deg); 
    }

    #siteWelcomeText{position:relative;left:-10px;}

/****************************
 ****** Team Home Page ******
 ****************************/
     .dashboardTabContainer {
        width: 100%;
        height: 70px;
        z-index:99;
        overflow: hidden;
    }
        .dashboardTabContainer ul {
            position:fixed;
            width: 61vw;
            height:80px;
            font-size:.95em;
            list-style-type: none;
            display: inline-block;
            white-space: nowrap!important;
            overflow-x: scroll;
            overflow-y: hidden;
            margin: 0;
            padding: 15px 5px;
        }
        .dashboardTabContainer li {
            margin: 0 5px 0 3px;
            display: inline;
        }

    .teamHomeLeftColumn{height:80vh}
    .teamHomeRightColumn{position:relative;height:80vh;overflow:hidden}
    .teamHomeTopRow{position:absolute;height:28vh;width:100%;max-width:57vw;flex:0 0 50%;}
    .teamHomeBottomRow{position:relative;top:19vh;max-width:60vw;flex:0 0 50%;height:60vh;margin-top:10px;overflow:hidden} 
    /*.faqTitle,.contactsTitle{position:absolute;}*/
    #contactLink,#faqLink,#changeLink{margin:0 10px 0 0}  
    .faqTabContainer{top:30px;left:1px;height:47px;overflow-x:auto;overflow-y:hidden;width:99%;}
    .faqTab{width:auto;flex-wrap:nowrap!important}
    .faqContent{top:97px;left:0;width:99%!important;height:60vh;overflow-y:scroll;overflow-x:hidden} 
    .faqQuestions{position:absolute;left:10px;flex:0 0 19%;max-width:19%;width:19%;height:85%;overflow-y:scroll;overflow-x:hidden} 
    .faqAnswers{position:absolute;left:20.5%;top:10px;flex:0 0 76%;max-width:76%;overflow-y:scroll;overflow-x:hidden}
    .faqAnswersAccordion {width:98%;}
    .changeTabs{position:relative;top:7px;padding-bottom:10px;overflow-y:hidden;overflow-x:scroll;}
    .changeContent{overflow-y:scroll;overflow-x:hidden;height:60vh;margin:0 2px 0 0;}
    .table-responsive{width: 99% !important;}
    .nav-tabs{border-bottom:none;}
    .faqContent .card, .changeContent .card{height:46px;}
    .teamTabs{overflow-x:scroll;overflow-y:hidden}
    .teamTabLink{display:inline-flex}

    /***** Contact Cards *****/
    .contactContainer {						
        width:100%;
        top: 2vh;
        left:0;
        height: 205px;
        overflow: hidden;
    }
    .contactCardRow{
        flex-wrap:nowrap;
        white-space: nowrap;
        width: 99%;
        overflow-x: scroll;
        overflow-y: hidden;
    }
		.contactsTitle{margin-bottom:10px;}
    .contactCard {
        perspective: 1000px; 
        display: inline-block;
        width:150px;
        height: 175px;
        margin: 5px 8px 5px 8px;
        transition: 0.3s;        
    }
    .contactCard div {margin: 0;}
    .contactCard img{
        min-height:130px;
        width: 130px;
        height: 130px;
        margin: 5px 0;        
    }
		.contactCard-Inner{
     position: relative;
     width: 100%;
     height: 100%;
     text-align: center;
     transition: transform 0.8s;
     transform-style: preserve-3d;
 }
 .contactCard:hover .contactCard-Inner {
     transform: rotateY(180deg);
 }
 .contactCard-Front, .contactCard-Back {
     position: absolute;
     width: 100%;
     height: 100%;
     backface-visibility: hidden;
 }
 .contactCard-Back {
     transform: rotateY(180deg);
     word-wrap:break-word;
     white-space:normal;
 }
 .contactCard .userName {font-weight:bolder;font-size:.9em!important;}			
    .contactCard-Back .jobTitle, .contactCard-Back h4, .contactCard-Back h5, .contactCard-Back .userName, .contactCard-Back .groupName {font-size:.8em!important; margin:5px;}
    .contactCard-Back .cardIcons {position:absolute;bottom:0;font-size:1.3rem; width:100%}

/***************************************
 ***** Toast Bootstrap Page Banner *****
 ***************************************/ 
.toast {
    position:absolute;
    top:0;
    right:45vw;
    z-indeX:999;
    min-width:auto;
    border-radius:10px;    
}
.toast-header h3{
    width:100%;
}
.toast-header .close{
    /*float:none;
    position:absolute;*/
    right:5px;
    min-width:28px;
}
.toast-header button span {position:relative;top:-3px;}

#myProgress {
    width: 100%;
    background-color: grey;
}
  
#myBar {
    width: 1%;
    height: 30px;
    background-color: green;
}   
 
 /***** Page Body End *****/
 
 /**********************************/
 /***** Page Other Parts Start *****/
 /**********************************/    
 .ms-webpartPage-root {
     border-spacing: 0px !important;
 }
 
 .ms-webpartzone-cell {
     margin: 0 0 0 0 !important;
 }
 
 /*******************************/
 /***** Social Icons Styles *****/
 /*******************************/
 .list-social-icons {
     margin-bottom: 45px;
 }
 
 .tooltip-social a {
     text-decoration: none;
     color: inherit;
 }
 
 .facebook-link a:hover {
     color: #3b5998;
 }
 
 .linkedin-link a:hover {
     color: #007fb1;
 }
 
 .twitter-link a:hover {
     color: #39a9e0;
 }
 
 .google-plus-link a:hover {
     color: #d14836;
 }
 
 /*******************************/
 /***** Service Page Styles *****/
 /*******************************/
 .service-icon {
     font-size: 50px;
 }
     
 .valign {
     display: inline-block;
     vertical-align: middle;
     float: none;
 }
 
 /********************/
 /***** SP Fixes *****/
 /********************/
 #ms-designer-ribbon {
     z-index: 99 !important;
 }
 
 #s4-bodyContainer {
     padding-bottom: 10px !important;
 }
 
 /********************************/
 /***** Ribbon Buttons Fixes *****/
 /********************************/
 .ms-cui-dd-text, input.ms-cui-cb-input {
     height: 100% !important;
     padding: 5px !important;
 }
 
 .ms-cui-dd-arrow-button {
     height: 100% !important;
     padding-left: 0 !important;
 }
 
 .ms-dlgTitle {
     padding: 10px 30px 10px 15px !important;
 }
 
 .ms-cui-ctl-thin {
     padding: 0 4px !important;
     height: 100% !important;
     margin-top: 10px !important;
 }
 
 .ms-qatbutton span {
     height: 25px !important;
     width: 25px !important;
 }
 
 /***********************************/
 /***** Web Part Properties Box *****/
 /***********************************/
 #MSOTlPn_MainTD, #MSOTlPn_Parts {
     width: 100%;
     height: 50vh;
 }
 
 .ms-ToolPaneOuter {
     position: fixed;
     top: 30px;
     left: 40%;
     margin: 0 auto;
     width: 30% !important;
     height: 60vh !important;
     overflow: hidden !important;
     z-index: 1999 !important;
 }
 
 .ms-ToolPaneBody {
     overflow: scroll !important;
     width: 100% !important;
     height: 100% !important;
     z-index: 1999 !important;
 }
 
 /*********************/
 /***** Left Menu *****/
 /*********************/
 .ms-core-listMenu-verticalBox > .ms-core-listMenu-item, .ms-core-listMenu-verticalBox li.static > .ms-core-listMenu-item {
     display: none !important;
     padding: 5px !important;
 }
 
 .ms-core-listMenu-verticalBox li.static > ul.static > li.static > .ms-core-listMenu-item {
     padding: 3px 3px 3px 10px !important;
 }
     
 /***********************************************************************************************************************************/
     
 /* For Small Resolutions & Notebooks: max 1280 */
 @media screen and (min-width:1201px) and (max-width:1278px) {     
 
     .adminTools {
         left: 62%;
     }
 
     .welcomeText {
         font-size: .9em;
     }
 }
 
 @media screen and (min-width:1279px) and (max-width:1289px) {
 
     .nav-section {
         font-size: .8em;
     }
 
 }
 
 @media screen and (min-width:1290px) and (max-width:1349px) {
 
     .nav-section {
         font-size: .8em;
     }
 
     .adminTools {
         left: 66%;
     }
 
 }
 
 @media screen and (min-width:1350px) and (max-width:1399px) {
     .nav-section {
         font-size: .9em;
     }
 
     .adminTools {
         left: 66%;
     }
 }
 
 @media screen and (min-width:1400px) and (max-width:1499px) {
     .adminTools {
         left: 69%;
     }
 }
 
 @media screen and (min-width:1500px) and (max-width:1599px) {        
     .adminTools {
         left: 69%;
     }
 }
 
 @media only screen and (min-width: 1600px) and (max-width: 1690px) {    
     .adminTools {
         left: 69%;
     }
 }
 
 @media only screen and (min-width: 1691px) and (max-width: 1749px) {
     .adminTools {
         left: 70%;
     }
 }
 
 @media only screen and (min-width: 1750px) and (max-width: 1918px) {    
     .adminTools {
         left: 70%;
     }
 }
 
 /* For resolution 1920px x 1080px only: */
 @media only screen and (min-width: 1919px) and (max-width:1921px) {
     .adminTools {
         left: 70%;
     }
 }
 
 @media screen and (min-width: 1922px) and (max-width:1999px) {
     .adminTools {
         left: 73%;
     }
 }
 
 @media screen and (min-width: 2000px) and (max-width:2099px) {
     .adminTools {
         left: 79%;
     }
 }
 
 @media screen and (min-width: 2100px) and (max-width: 2199px) {    
     .adminTools {
         left: 79%;
     }
 }
 
 @media screen and (min-width: 2200px) and (max-width:2399px) {
     .adminTools {
         left: 79%;
     }
 }
 
 @media screen and (min-width: 2400px) and (max-width:2499px) {
     .adminTools {
         left: 70%;
     }
 }
 
 @media screen and (min-width: 2500px) and (max-width:2600px) {
     .adminTools {
         left: 70%;
     }
 }
 
 @media screen and (min-width: 2601px) and (max-width:3000px) {
     .adminTools {
         left: 79%;
     }
 }
 
 @media screen and (min-width: 3001px) {
     .adminTools {
         left: 70%;
     }
 }
 
 @media screen and (-webkit-min-device-pixel-ratio:0), screen and (-webkit-min-device-pixel-ratio:1), screen and (-webkit-min-device-pixel-ratio:2) {    
     .adminTools {
         left: 70%;
     }
 }